<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息列表 版本2</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        #search .el-input {
            width: 140px;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <!--全部 未读 已读(checkbox) 发送消息(dialog)--><!--status 状态-->
    <el-form>
        <el-form id="search" :inline="true" ref="queryParams" label-position="right" label-with="80px"
                 :model="queryParams"
                 v-loading.fullscreen="initializing" element-loading-text="正在获取数据"
                 element-loading-background="rgba(0,0,0,0.8)">
            <el-form-item label="消息类型">
                <el-select v-model="queryParams.type">
                    <el-option label="申请注册" value="0"></el-option>
                    <el-option label="重置密码" value="1"></el-option>
                    <el-option label="申请物资调配" value="2"></el-option>
                    <el-option label="申请物资注册" value="3"></el-option>
                    <el-option label="普通消息" value="4"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="消息主题">
                <el-input v-model="queryParams.theme"></el-input>
            </el-form-item>
            <el-form-item label="发送者用户名">
                <el-input v-model="queryParams.sender"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="search">查找</el-button>
                <el-button @click="()=>{
                for(var i in queryParams){
                    queryParams[i]='';
                };
                search();
            }">返回
                </el-button>
                <el-button type="danger" @click="delSelected">删除所选</el-button>
            </el-form-item>
        </el-form>
        <el-radio-group v-model="checked" @change="handleCheckedStatusesChange">
            <el-radio :label="1">全部收件</el-radio>
            <el-radio :label="2">未读</el-radio>
            <el-radio :label="3">已读</el-radio>
            <el-radio :label="4">发件箱</el-radio>
        </el-radio-group>
        <!--dialog对话框：在保留当前页面状态的情况下，告知用户并承载相关操作-->
        <el-dialog title="发送消息" :visible.sync="dialogVisible" width="800px" :before-close="handleClose">
            <!--弹出对话框的发送信息功能：收件人 消息主题 正文-->
            <el-form :model="formInput1">
                <el-form-item label="收件人" :label-width="formLabelWidth">
                    <el-input placeholder="请输入收件人的用户名" v-model="formInput1.recipient" clearable
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="消息类型" :label-width="formLabelWidth">
                    <el-select v-model="formInput1.type" placeholder="请选择">
                        <el-option label="申请注册" value="0"></el-option>
                        <el-option label="重置密码" value="1"></el-option>
                        <el-option label="申请物资调配" value="2"></el-option>
                        <el-option label="申请物资注册" value="3"></el-option>
                        <el-option label="普通消息" value="4"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="消息主题" :label-width="formLabelWidth">
                    <el-input placeholder="请输入消息消息主题" v-model="formInput1.theme" clearable
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="正文" :label-width="formLabelWidth">
                    <el-input type="textarea" :rows="10" placeholder="请输入内容" v-model="formInput1.content"
                              auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer"><!--弹出对话框的底部-->
                <el-button type="primary" @click="send">确认发送</el-button>
                <el-button @click="dialogVisible=false">取消</el-button>
            </span>
        </el-dialog>
    </el-form>
    <template>
        <el-table ref="multipleTable" :data="tableData" stripe style="width:100%" :default-sort="{prop:'date',order:'descending'}" @selection-change="handleSelectionChange">
            <!--fixed 固定了除日期外所有column-->
            <el-table-column prop="selected" type="selection" width="40">
            </el-table-column>
            <el-table-column prop="sender" sortable label="发件人" width="100"></el-table-column>
            <el-table-column prop="type" label="消息类型" width="150">
                <template slot-scope="props">
                    {{['申请注册','重置密码','申请物资调配','申请物资注册','普通消息'][Number(props.row.type)]}}
                </template>
            </el-table-column>
            <el-table-column prop="theme" label="消息主题" width="300"></el-table-column>
            <el-table-column label="操作">
                <template slot-scope="props">
                    <!--查看button 嵌套dialog-->
                    <el-button size="mini" @click="()=>{props.row.dialog2Visible=true}" type="text">查看
                    </el-button>
                    <el-dialog title="消息详情" :visible.sync="props.row.dialog2Visible" width="800px"
                               :before-close="()=>{hasRead(props.row)}">
                        <!--发送信息弹窗：收件人 消息主题 正文-->
                        <el-row>
                            <el-col :span="20" offset="2">
                                <el-form>
                                    <el-form-item label="发件人:">
                                        <span>{{props.row.sender}}</span>
                                    </el-form-item>
                                    <el-form-item label="收件人:">
                                        <span>{{props.row.recipient}}</span>
                                    </el-form-item>
                                    <el-form-item label="主题:">
                                        <span>{{props.row.theme}}</span>
                                    </el-form-item>
                                    <el-form-item label="内容:">
                                        <p>{{props.row.content}}</p>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                        </el-row>
                        <span slot="footer" class="dialog-footer"><!--弹出对话框的底部 返回-->
                            <el-button @click="()=>{props.row.dialog2Visible=false;hasRead(props.row)}">返回</el-button>
                        </span>
                    </el-dialog>
                    <el-button size="mini" @click="()=>{handleDeleteMessage(props.row.msg_Id)}"
                               type="text" size="mini">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <p style="text-align: center">
        <el-pagination @current-change="handleCurrentChange" :current-page.sync="pageNum"
                       :page-size="6" layout="total,prev,pager,next,jumper" :total="total[0]"></el-pagination>
    </p>

    <p style="text-align: center">
        <el-button type="primary" @click="dialogVisible=true">+ 发送消息</el-button>
    </p>
    <!--标为已读 标为未读 删除-->
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    var pageNum = 1, pageSize = 6, maxPage = 0;
    function getData(page, searchKey, unchanged) {
        clearData(unchanged);
        var common = {};
        if (searchKey) {
            searchKey["pageSize"] = pageSize;
            searchKey["pageNum"] = page;
            if (app) {
                if (read[app.checked] !== null) {
                    searchKey["isRead"] = read[app.checked];
                    common["isRead"] = read[app.checked];
                }
                if(app.checked===4){
                    searchKey["sender"]=localStorage.getItem('username');
                }
                if(searchKey['sender']===localStorage.getItem('username')){
                    app.checked=4;
                    searchKey={
                        pageSize:pageSize,
                        pageNum:pageNum,
                        sender:localStorage.getItem('username')
                    }
                }
            }else{
                delete searchKey.sender;
            }
        }
        var obj1={},obj2={};
        Object.assign(obj1,searchKey);
        Object.assign(obj2,common,{pageSize:pageSize,pageNum:pageNum});
        post('/common/getms', searchKey ? obj1 : obj2, (data, err) => {
            app.pageNum = page;
            app.initializing = false;
            console.log(data,err);
            if (err) {
                if (err.id !== 4003 && err.id !== 5005) {
                    app.$message.error(err.msg);
                    app.initializing = false;
                }
                return;
            }
            totalCompute(searchKey);
            maxPageRef.push(data.allPages);
            var msg = data.SysMessage
            console.log(msg);
            if(app.checked===4){
                for (var i in msg) {
                    msg[i]['dialog2Visible'] = false;
                    msg[i]['selected'] = false;
                    items.push(msg[i]);
                }
            }else{
                for (var i in msg) {
                    if(msg[i].sender!==localStorage.getItem('username')){
                        msg[i]['dialog2Visible'] = false;
                        msg[i]['selected'] = false;
                        items.push(msg[i]);
                    }
                }
            }
        });
    }
    function totalCompute(searchKey) {
        if (searchKey) {
            var needed = {
                theme: searchKey.theme,
                type: searchKey.type,
                sender: searchKey.sender
            };
        }
        var common1 = {
            pageNum: 1
        };
        var common2 = {};
        if (app.checked === 2) {
            common1['isRead'] = 0;
            common2['isRead'] = 0;
        } else if (app.checked === 3) {
            common1['isRead'] = 1;
            common2['isRead'] = 1;
        }
        var obj3={},obj4={};
        Object.assign(obj3,needed,common1);
        Object.assign(obj4,needed,common2);
        post('/common/getms', searchKey ? obj3 : common1, (data) => {
            maxPage = data.allPages;
            common2['pageNum'] = maxPage;
            post('/common/getms', searchKey ? obj4 : common2, (data) => {
                var arr = [], msg = data.SysMessage;
                if(app.checked===4){
                    for (var key in msg) {
                        arr.push(msg[key]);
                    }
                }else{
                    if(msg[key].sender!==localStorage.getItem('username')){
                        for (var key in msg) {
                            arr.push(msg[key]);
                        }
                    }
                }
                lastPageItems = arr.length;
                total = pageSize * (maxPage - 1) + lastPageItems;
                totalRef.push(total);
            });
        });
    }
    function clearData(unchanged) {
        for (let i = 0; i < pageSize; i++) {
            items.pop();
        }
        if (unchanged !== true) {
            for (let i = 0; i < maxPageRef.length; i++) {
                maxPageRef.pop();
            }
            for (let i = 0; i < totalRef.length; i++) {
                totalRef.pop();
            }
        }
    }
    function clearForm() {
        for (var i in app.formInput1) {
            app.formInput1[i] = "";
        }
    }
    function pageControl(control, searchKey) {
        if (control === 'previous') {
            if (pageNum <= 1) {
                return;
            }
            pageNum -= 1;
            getData.call(app, pageNum, searchKey);
        } else if (control === 'next') {
            if (pageNum >= maxPage) {
                return;
            }
            pageNum += 1;
            getData.call(app, pageNum, searchKey);
        } else if (control === 'first') {
            pageNum = 1;
            getData.call(app, pageNum, searchKey);
        } else if (control === 'last') {
            pageNum = maxPage;
            getData.call(app, pageNum, searchKey);
        } else if (control === 'stay') {
            getData.call(app, pageNum, searchKey);
        }
    }
    var delList = [];
    var read = [null, null, 0, 1];
    var items = [];
    var pageNum = 1, pageSize = 6, maxPage = 0, total = 0, lastPageItems = 0;
    var maxPageRef = [], totalRef = [];
    var searchKey = {
    };
    var post = require('/mods/backend');
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                <!--全部 未读 已读checkbox多选框 -->
                multipleSelection:[],
                checked: 2,
                dialogVisible: false,
                isIndeterminate: true,
                initializing: true,
                pageNum: pageNum,
                tempPage: null,
                maxPage: maxPageRef,
                total: totalRef,
                <!--发送消息 弹窗-->
                formInput1: {
                    recipient: '',
                    theme: '',
                    content: '',
                    type: '',
                    recipient: ''
                },
                queryParams: {
                    theme: null,
                    type: null,
                    sender: null
                },
                formLabelWidth: '120px',
                tableData: items,
                dialog2Visible: false
            }
        },
        mounted: function () {
            getData(1, {isRead: 0});
        },
        methods: {
            handleSelectionChange(val){
                app.multipleSelection=val;
            },
            handleCurrentChange: (page) => {
                getData.call(app, page, searchKey);
            },
            handleCheckedStatusesChange() {
                app.initializing = true;
                searchKey={};
                if (app.checked === 1) {
                    searchKey = {};
                } else if (app.checked === 2) {
                    searchKey = {isRead: 0};
                } else if (app.checked === 3) {
                    searchKey = {isRead: 1};
                }
                app.search();
            },
            <!--所有弹窗右上角关闭时确认关闭-->
            handleClose(done) {
                let count = 0;
                for (var i in app.formInput1) {
                    if (app.formInput1[i] == "")
                        count++;
                }
                if (count === 5) {
                    done();
                } else {
                    this.$confirm('确认关闭？')
                        .then(() => {
                            clearForm();
                            done();
                        })
                        .catch(() => {
                        });
                }
            },
            <!--操作：删除button-->
            handleDeleteMessage(msg_Id) {
                this.$confirm('确认删除这条消息？', null, {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    console.log(msg_Id);
                    post('/common/deletems', {
                        msg_Id: Number(msg_Id),
                        isDel: 0
                    }, (data, err) => {
                        if (err) {
                            app.$message.error(err.msg);
                            app.initializing = false;
                            return;
                        }
                        if (app.pageNum !== maxPageRef[0]) {
                            getData(maxPageRef[0], searchKey);
                        } else {
                            if (app.pageNum !== 1) {
                                getData(maxPageRef[0] - 1, searchKey);
                            }else{
                                getData(maxPageRef[0], searchKey)
                            }
                        }
                        app.$message({
                            type:'success',
                            message:'删除成功'
                        });
                    });
                })
            },
            delSelected: function () {
                if(app.multipleSelection[0]===undefined){
                    return;
                }
                this.$confirm('确认删除所选消息？', null, {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var idToDel = [];
                    for(var key in app.multipleSelection){
                        idToDel.push(app.multipleSelection[key]['msg_Id']);
                    }
                    delList = idToDel;
                    for (let i in idToDel) {
                        ((e)=>{
                            post('/common/deletems', {
                                msg_Id: idToDel[e]
                            }, (data, err) => {
                                if (err) {
                                    app.$message.error(err.msg);
                                    app.initializing = false;
                                    return;
                                }
                                var len = delList.length;
                                if (app.pageNum !== maxPageRef[0]) {
                                    getData(maxPageRef[0], searchKey);
                                } else {
                                    if (len == lastPageItems) {
                                        if (app.pageNum !== 1) {
                                            getData(maxPageRef[0] - 1, searchKey);
                                        } else {
                                            getData(maxPageRef[0], searchKey);
                                        }
                                    } else {
                                        getData(maxPageRef[0], searchKey);
                                    }
                                }
                            });
                        })(i);
                    }
                    app.$message({
                        type:'success',
                        message:'删除成功'
                    });
                });
            },
            send: function () {
                post('/common/addms', {
                    theme: app.formInput1.theme,
                    content: app.formInput1.content,
                    type: app.formInput1.type,
                    recipient: app.formInput1.recipient
                }, (data, err) => {
                    app.initializing = false;
                    if (err) {
                        app.$message.error(err.msg);
                        app.initializing = false;
                        if (err.id === post.NOT_LOGIN) {
                        }
                        return;
                    }
                    this.$message({
                        type: "success",
                        message: '发送成功'
                    })
                    app.dialogVisible = false;
                    app.initializing = true;
                    pageControl('stay', searchKey);
                    app.loading = false;
                })
            },
            hasRead: function (row) {
                row.dialog2Visible = true;
                if(app.checked!==4){
                    post('/common/readedms', {
                        msg_Id: row.msg_Id,
                        isDel: 0
                    }, (data, err) => {
                        if (err) {
                            app.$message.error(err.msg);
                            app.initializing = false;
                            if (err.id === post.NOT_LOGIN) {
                            }
                            app.initializing = false;
                            return;
                        }
                        pageControl('stay', searchKey);
                        console.log(data);
                        console.log(err);
                        app.initializing = false;
                    });
                }
                pageControl('stay', searchKey);
            },
            search: function () {
                app.initializing = true;
                var validate = {"pageSize": pageSize, "pageNum": pageNum};
                for (var i in app.queryParams) {
                    if (app.queryParams[i] !== null && app.queryParams[i] !== "") {
                        if (i === 'sender_Id') {
                            validate[i] = Number(app.queryParams[i]);
                        } else {
                            validate[i] = app.queryParams[i];
                        }
                    }
                }
                if (app.checked === 2) {
                    validate['isRead'] = 0;
                } else if (app.checked === 3) {
                    validate['isRead'] = 1;
                }
                searchKey = validate;
                pageControl.call(app, 'stay', validate);
            }
        }
    })
</script>
</html>