<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>倒计时器</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .full-fill {
            width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <p>
        <span>更新间隔：</span>
        <el-select v-model="selected">
            <el-option
                v-for="item in options"
                :label="item"
                :value="item">
            </el-option>
        </el-select>
        <el-button @click="beginTiming" type="primary">开始计时</el-button>
    </p>
    <el-tag>
        距离开始计时已：{{ Number(timeSec).toFixed(2) }}秒
    </el-tag>

</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                options: [50, 100, 500, 1000],
                selected: 1000,
                timeSec: 0.0,
                timeBegin: 0
            };
        },
        methods: {
            beginTiming: function () {
                // 记录按下按钮的起始时间
                this.timeBegin = (new Date()).getTime() / 1000;

                // 每隔this.selected毫秒执行此函数
                setInterval(() => {
                    // 修改timeSec以显示经过的时间
                    this.timeSec = (new Date()).getTime() / 1000 - this.timeBegin;
                }, this.selected);
            }
        }
    });
</script>
</html>