<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史数据查询</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        #app {
            font-size: 14px;
        }

        span.no-wrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div id="app">
    <el-form label-width="100px">
        <el-form-item label="时间范围">
            <el-date-picker
                v-model="formInput.date"
                type="daterange"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :picker-options="pickerOptions">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="相关仓库">
            <el-select
                v-model="formInput.repo"
                placeholder="正在加载...">
                <el-option
                    v-for="repo in repos"
                    :label="repo.name"
                    :value="repo.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="选择事件类型">
            <el-radio-group v-model="formInput.eventType">
                <el-radio-button
                    v-for="(val, key) in eventTypes"
                    :label="key">
                </el-radio-button>
            </el-radio-group>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
    <div>{{ lookupDateText }}的历史数据</div>
    <el-table stripe :data="tableData">
        <el-table-column prop="goodName" label="货物名" width="250">
        </el-table-column>
        <el-table-column prop="amount" label="申请数量" width="80">
        </el-table-column>
        <el-table-column prop="create_time" label="申请时间" width="300">
        </el-table-column>
        <el-table-column prop="myDescription" label="描述">
        </el-table-column>
        <el-table-column label="" width="150">
            <template slot-scope="scope">
                <el-button size="mini">查看业务报表</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    var post=require('/mods/backend');

    function getDaysBefore(days) {
        return function(picker) {
            var end = new Date(),
                start = new Date();
            start.setTime(end.getTime() - days * 24 * 3600 * 1000);
            picker.$emit('pick', [start, end]);
        }
    }

    function getMonthsBefore(months) {
        return function(picker) {
            var end = new Date(),
                start = new Date();
            start.setMonth(end.getMonth() - months)
            picker.$emit('pick', [start, end]);
        }
    }

    var app = new Vue({
        el: '#app',
        data: {
            formInput: {
                date: undefined,
                repo: '',
                eventType: ''
            },
            repos: [],
            tableData: [{xxx: "123"}],
            lookupDateText: 'xxxx年xx月xx日 ~ xxxx年xx月xx日',
            eventTypes: {
                '出入库事件': 0,
                '物资调配申请': 1,
                '物资调配完成': 2
            },
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick: getDaysBefore(7)
                },{
                    text: '最近两周',
                    onClick: getDaysBefore(14)
                },{
                    text: '最近一个月',
                    onClick: getMonthsBefore(1)
                },{
                    text: '最近三个月',
                    onClick: getMonthsBefore(3)
                },{
                    text: '最近半年',
                    onClick: getMonthsBefore(6)
                },{
                    text: '最近一年',
                    onClick: getMonthsBefore(12)
                }]
            }
        },
        methods:{
            search:function(){
                post('/system/schedulehistory',{

                })
            }
        },
        computed: {
            dateText: function() {
                if (!this.formInput.date) {
                    return 'xxxx年xx月xx日 ~ xxxx年xx月xx日';
                }

                var dateFormat = require('dateformat');
                var dateTexts = this.formInput.date.map(
                    (d) => dateFormat(d, "yyyy年mm月dd日")
                );

                return dateTexts[0] + " ~ " + dateTexts[1];
            }
        }
    });
</script>
</html>