<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史数据查询</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        #app {
            font-size: 14px;
        }

        span.no-wrap {
            white-space: nowrap;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 120px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        [v-cloak] {
            display: none;
        }

        .timeRange{
            color:#6f7180;
            font-size:13px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <el-form label-width="100px"v-loading.fullscreen="initializing" element-loading-text="加载中"
             element-loading-background="rgba(0,0,0,0.8)">
        <el-form-item label="时间范围">
            <el-date-picker
                v-model="formInput.date"
                type="daterange"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :picker-options="pickerOptions">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="相关仓库">
            <el-select
                v-model="formInput.repo"
                filterable
                clearable
                placeholder="请选择">
                <el-option
                    v-for="repo in repos"
                    :label="repo.warehouseName"
                    :value="repo.warehouseId">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="选择事件类型">
            <el-radio-group v-model="formInput.eventType">
                <el-radio-button
                    v-for="(val, key) in eventTypes"
                    :label="key">
                </el-radio-button>
            </el-radio-group>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
            <el-button @click="reset">重置</el-button>
        </el-form-item>
    </el-form>
    <div v-show="formInput.eventType==='出入库事件'">
        <div class="timeRange">{{'数据时段: '+(lookupDateText?lookupDateText:'所有时段') }}</div>
        <el-table stripe :data="tableData2">
            <el-table-column type="expand">
                <template slot-scope="props2">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="申请人所在单位">
                            <span>{{props2.row.companyName}}</span>
                        </el-form-item>
                        <el-form-item label="调度申请单编号">
                            <span>{{props2.row.applicationNum}}</span>
                        </el-form-item>
                        <el-form-item label="创建时间">
                            <span>{{props2.row.createTime}}</span>
                        </el-form-item>
                        <el-form-item label="出/入库建单人">
                            <span>{{props2.row.founder}}</span>
                        </el-form-item>
                        <el-form-item label="负责人">
                            <span>{{props2.row.charity}}</span>
                        </el-form-item>
                        <el-form-item label="备注">
                            <span>{{props2.row.remark}}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column prop="goodName" label="货物名称">
            </el-table-column>
            <el-table-column prop="amount" label="请求数量">
            </el-table-column>
            <el-table-column prop="unit" label="单位">
            </el-table-column>
            <el-table-column prop="method" label="出库/入库">
            </el-table-column>
            <el-table-column prop="warehouseName" label="仓库名">
            </el-table-column>
            <el-table-column prop="inboundNum" label="出/入库单号">
            </el-table-column>
        </el-table>
        <p style="text-align: center">
            <el-pagination @current-change="handleCurrentChange" :current-page="pageNum"
                           :page-size="6" layout="total,prev,pager,next,jumper" :total="total[0]"></el-pagination>
        </p>
    </div>
    <div v-show="formInput.eventType==='物资调配申请'">
        <div class="timeRange">{{'数据时段: '+(lookupDateText?lookupDateText:'所有时段') }}</div>
        <el-table stripe :data="tableData">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="申请人所在单位">
                            <span>{{props.row.companyName}}</span>
                        </el-form-item>
                        <el-form-item label="调度单编号">
                            <span>{{props.row.applicationNum}}</span>
                        </el-form-item>
                        <el-form-item label="发货仓库名">
                            <span>{{props.row.startWarehouseName}}</span>
                        </el-form-item>
                        <el-form-item label="收货仓库名">
                            <span>{{props.row.endWarehouseName}}</span>
                        </el-form-item>
                        <el-form-item label="创建时间">
                            <span>{{props.row.createTime}}</span>
                        </el-form-item>
                        <el-form-item label="更新时间">
                            <span>{{props.row.updateTime}}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column prop="goodsName" label="货物名称">
            </el-table-column>
            <el-table-column prop="goodsId" label="货物本地ID">
            </el-table-column>
            <el-table-column prop="amount" label="请求数量">
            </el-table-column>
            <el-table-column prop="isDone" label="是否完成">
                <template slot-scope="props">
                    {{['未完成','已完成'][props.row.isDone]}}
                </template>
            </el-table-column>
            <el-table-column prop="isPass" label="是否通过">
                <template slot-scope="props">
                    {{['未通过','已通过'][props.row.isDone]}}
                </template>
            </el-table-column>
            <el-table-column prop="permitAmount" label="同意调配数量">
            </el-table-column>
        </el-table>
        <p style="text-align: center">
            <el-pagination @current-change="handleCurrentChange" :current-page="pageNum"
                           :page-size="6" layout="total,prev,pager,next,jumper" :total="total[0]"></el-pagination>
        </p>
    </div>
    <div v-show="formInput.eventType==='物资调配完成'">
        <div class="timeRange">{{'数据时段: '+(lookupDateText?lookupDateText:'所有时段') }}</div>
        <el-table stripe :data="tableData3">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="申请人所在单位">
                            <span>{{props.row.companyName}}</span>
                        </el-form-item>
                        <el-form-item label="调度单编号">
                            <span>{{props.row.applicationNum}}</span>
                        </el-form-item>
                        <el-form-item label="需求类型">
                            <span>{{props.row.requestType}}</span>
                        </el-form-item>
                        <el-form-item label="期望时间成本">
                            <span>{{props.row.expectTime}}</span>
                        </el-form-item>
                        <el-form-item label="目的省">
                            <span>{{props.row.destinationProvince}}</span>
                        </el-form-item>
                        <el-form-item label="目的城市">
                            <span>{{props.row.destinationCity}}</span>
                        </el-form-item>
                        <el-form-item label="目的地址">
                            <span>{{props.row.destinationAddress}}</span>
                        </el-form-item>
                        <el-form-item label="联系人">
                            <span>{{props.row.contractPerson}}</span>
                        </el-form-item>
                        <el-form-item label="联系电话">
                            <span>{{props.row.contractTel}}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column prop="goodName" label="货物名称">
            </el-table-column>
            <el-table-column prop="warehouseName" label="仓库名称">
            </el-table-column>
            <el-table-column prop="amount" label="请求数量">
            </el-table-column>
            <el-table-column prop="unit" label="单位">
            </el-table-column>
            <el-table-column prop="createTime" label="完成时间">
            </el-table-column>
            <el-table-column prop="permitAmount" label="同意调配数量">
            </el-table-column>
        </el-table>
        <p style="text-align: center">
            <el-pagination @current-change="handleCurrentChange" :current-page="pageNum"
                           :page-size="pageSize" layout="total,prev,pager,next,jumper" :total="total[0]"></el-pagination>
        </p>
    </div>

</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    //交互完成
    var post = require('/mods/backend');

    function getData(searchKey) {
        clearData();
        totalCompute(searchKey);
        var validate = {};
        for (var i in searchKey) {
            if (searchKey[i] !== "")
                validate[i] = searchKey[i];
        }
        validate['pageNum']=app.pageNum;
        if(validate['warehouseId'])
            validate['warehouseId']=String(validate['warehouseId']);
        console.log(validate);
        if (app.eventTypes[app.formInput.eventType] === 1) {
            post('/common/enandex', validate, (data, err) => {
                app.lookupDateText = app.dateText;
                if(err){
                    if(err.id!==5000){
                        app.$message.error(err.msg);
                    }else{
                        app.$message.error('查找失败');
                    }
                    app.initializing = false;
                    return;
                }
                maxPage = data.allPages;
                console.log(data);
                var Schedule = data.transViews;
                for (var i in Schedule) {
                    scheduleItems2.push(Schedule[i]);
                }
            });
        } else if (app.eventTypes[app.formInput.eventType] === 2) {
            post('/common/allapply', validate, (data, err) => {
                app.lookupDateText = app.dateText;
                if(err){
                    if(err.id!==5000){
                        app.$message.error(err.msg);
                    }else{
                        app.$message.error('查找失败');
                    }
                    app.initializing = false;
                    return;
                }
                maxPage = data.allPages;
                console.log(data);
                var Schedule = data.schedules;
                for (var i in Schedule) {
                    scheduleItems.push(Schedule[i]);
                }
            });
        } else if (app.eventTypes[app.formInput.eventType] === 3) {
            post('/common/comdis', validate, (data, err) => {
                app.lookupDateText = app.dateText;
                if(err){
                    if(err.id!==5000){
                        app.$message.error(err.msg);
                    }else{
                        app.$message.error('查找失败');
                    }
                    app.initializing = false;
                    return;
                }
                maxPage = data.allPages;
                console.log(data);
                var Schedule = data.scheViews;
                for (var i in Schedule) {
                    scheduleItems3.push(Schedule[i]);
                }
            });
        } else {
            app.$message.error('请选择事件类型');
        }

    }

    function clearData() {
        while (scheduleItems[0] !== undefined) {
            scheduleItems.pop();
        }
        while (scheduleItems2[0] !== undefined) {
            scheduleItems2.pop();
        }
        while (scheduleItems3[0] !== undefined) {
            scheduleItems3.pop();
        }
    }

    function totalCompute(searchKey) {
        var validate = {}
        var temp = searchKey['pageNum'];
        searchKey['pageNum'] = 1;
        for (var i in searchKey) {
            if (searchKey[i] !== "") {
                validate[i] = searchKey[i];
            }
        }
        if (app.eventTypes[app.formInput.eventType] == 1) {
            post('/common/enandex', validate, (data) => {
                var max = data.allPages;
                validate['pageNum'] = max;
                post('/common/enandex', validate, (data) => {
                    var len = data.transViews.length;
                    while(totalRef[0]!==undefined)
                        totalRef.pop();
                    totalRef.push(len+6*(max-1));
                    searchKey['pageNum'] = temp;
                })
            });
        } else if (app.eventTypes[app.formInput.eventType] == 2) {
            post('/common/allapply', validate, (data) => {
                var max = data.allPages;
                validate['pageNum'] = max;
                post('/common/allapply', validate, (data) => {
                    var len = data.schedules.length;
                    while(totalRef[0]!==undefined)
                        totalRef.pop();
                    totalRef.push(len+6*(max-1));
                    searchKey['pageNum'] = temp;
                })
            });
        } else if (app.eventTypes[app.formInput.eventType] == 3) {
            post('/common/comdis', validate, (data) => {
                var max = data.allPages;
                validate['pageNum'] = max;
                post('/common/comdis', validate, (data) => {
                    var len = data.scheViews.length;
                    while(totalRef[0]!==undefined)
                        totalRef.pop();
                    totalRef.push(len+6*(max-1));
                    searchKey['pageNum'] = temp;
                })
            });
        } else {
            app.$message.error('请选择事件类型');
        }


    }

    function getDaysBefore(days) {
        return function (picker) {
            var end = new Date(),
                start = new Date();
            start.setTime(end.getTime() - days * 24 * 3600 * 1000);
            picker.$emit('pick', [start, end]);
        }
    }

    function getMonthsBefore(months) {
        return function (picker) {
            var end = new Date(),
                start = new Date();
            start.setMonth(end.getMonth() - months)
            picker.$emit('pick', [start, end]);
        }
    }

    var repoItems = [], scheduleItems = [], scheduleItems2 = [], scheduleItems3 = [];
    var pageSize = 6, maxPage = 0, pageNum = 1;
    var searchKey = {};
    var totalRef = [];

    var app = new Vue({
        el: '#app',
        data: {
            initializing:false,
            pageNum: pageNum,
            pageSize:6,
            total: totalRef,
            formInput: {
                date: undefined,
                repo: '',
                eventType: ''
            },
            repos: repoItems,
            tableData: scheduleItems,
            tableData2: scheduleItems2,
            tableData3: scheduleItems3,
            lookupDateText: "",
            eventTypes: {
                '出入库事件': 1,
                '物资调配申请': 2,
                '物资调配完成': 3
            },
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick: getDaysBefore(7)
                }, {
                    text: '最近两周',
                    onClick: getDaysBefore(14)
                }, {
                    text: '最近一个月',
                    onClick: getMonthsBefore(1)
                }, {
                    text: '最近三个月',
                    onClick: getMonthsBefore(3)
                }, {
                    text: '最近半年',
                    onClick: getMonthsBefore(6)
                }, {
                    text: '最近一年',
                    onClick: getMonthsBefore(12)
                }]
            }
        },
        mounted: function () {
            post('/common/relatehouse', {}, (data, err) => {
                if(err){
                    if(err.id!==5000){
                        app.$message.error(err.msg);
                    }else{
                        app.$message.error('数据获取失败');
                    }
                    app.initializing = false;
                    return;
                }
                for (var i in data) {
                    repoItems.push(data[i]);
                }
            });
        },
        methods: {
            search: function () {
                app.pageNum=1;
                searchKey = {
                    warehouseId: app.formInput.repo,
                    pageNum: app.pageNum,
                    start_time: app.dateText.slice(0, 19),
                    end_time: app.dateText.slice(22)
                }
                getData(searchKey);
            },
            reset:function(){
                clearData();
                searchKey={};
                app.formInput={
                    date:"",
                    repo:"",
                    eventType:""
                };
            },
            handleCurrentChange: function (page) {
                searchKey['pageNum'] = page;
                app.pageNum=page;
                getData(searchKey);
            },
            getWarehouses: function () {
                post('/system/get_warehouse', {
                    pageNum: 1,
                    pageSize: 100000
                }, (data, err) => {
                    if(err){
                        if(err.id!==5000){
                            app.$message.error(err.msg);
                        }else{
                            app.$message.error('数据获取失败');
                        }
                        app.initializing = false;
                        return;
                    }
                    for (var i in data) {
                        app.repos.push(data[i]);
                    }
                });
            }
        },
        computed: {
            dateText: function () {
                if (!this.formInput.date) {
                    return '';
                }

                var dateFormat = require('dateformat');
                var dateTexts = this.formInput.date.map(
                    (d) => dateFormat(d, "yyyy-mm-dd 00:00:00")
                );

                return dateTexts[0] + " ~ " + dateTexts[1];
            }
        }
    });
</script>
</html>