<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史数据查询</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        #app {
            font-size: 14px;
        }

        span.no-wrap {
            white-space: nowrap;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 120px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-form label-width="100px">
        <el-form-item label="时间范围">
            <el-date-picker
                v-model="formInput.date"
                type="daterange"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :picker-options="pickerOptions">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="相关仓库">
            <el-select
                v-model="formInput.repo"
                filterable
                placeholder="请选择">
                <el-option
                    v-for="repo in repos"
                    :label="repo.warehouseName"
                    :value="repo.warehouseId">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="选择事件类型">
            <el-radio-group v-model="formInput.eventType">
                <el-radio-button
                    v-for="(val, key) in eventTypes"
                    :label="key">
                </el-radio-button>
            </el-radio-group>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
    <div>{{ lookupDateText }} 的历史数据</div>
    <el-table stripe :data="tableData">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="发货时间">
                        <span>{{props.row.transportTime}}</span>
                    </el-form-item>
                    <el-form-item label="收货时间">
                        <span>{{props.row.arrivalTime}}</span>
                    </el-form-item>
                    <el-form-item label="传输类型">
                        <span>{{props.row.transportType}}</span>
                    </el-form-item>
                    <el-form-item label="用户真名">
                        <span>{{props.row.userRealName}}</span>
                    </el-form-item>
                    <el-form-item label="用户所在单位">
                        <span>{{props.row.companyName}}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column prop="startWarehouseName" label="发货仓库名">
        </el-table-column>
        <el-table-column prop="endWarehouseName" label="收货仓库名">
        </el-table-column>
        <el-table-column prop="applicationNum" label="调度单编号">
        </el-table-column>
        <el-table-column prop="goodName" label="货物名称">
        </el-table-column>
        <el-table-column prop="amount" label="请求数量">
        </el-table-column>
        <el-table-column prop="idDone" label="是否完成">
        </el-table-column>
    </el-table>
    <p style="text-align: center">
        <el-pagination @current-change="handleCurrentChange" :current-page="pageNum"
                       :page-size="6" layout="total,prev,pager,next,jumper" :total="total[0]"></el-pagination>
    </p>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    var post = require('/mods/backend');

    function getData(searchKey) {
        clearData();
        totalCompute(searchKey);
        var validate = {};
        for (var i in searchKey) {
            if (searchKey[i] !== "")
                validate[i] = searchKey[i];
        }
        console.log(validate);
        post('/common/enandex', validate, (data, err) => {
            app.lookupDateText = app.dateText;
            if (err) {
                console.log(err);
                return
            }
            maxPage = data.allPages;
            console.log(data);
            var Schedule = data.transViews;
            for (var i in Schedule) {
                scheduleItems.push(Schedule[i]);
            }
        })
    }

    function clearData() {
        for (var i in scheduleItems) {
            scheduleItems.pop();
        }
    }

    function totalCompute(searchKey){
        var validate={

        }
        var temp=searchKey['pageNum'];
        searchKey['pageNum']=1;
        for(var i in searchKey){
            if(searchKey[i]!==""){
                validate[i]=searchKey[i];
            }
        }
        post('/common/enandex',validate,(data)=>{
            var max=data.allPages;
            validate['pageNum']=max;
            post('/common/enandex',validate,(data)=>{
                var len=data.transViews.length;
                totalRef.pop();
                totalRef.push(len);
                searchKey['pageNum']=temp;
            })
        })
    }

    function getDaysBefore(days) {
        return function (picker) {
            var end = new Date(),
                start = new Date();
            start.setTime(end.getTime() - days * 24 * 3600 * 1000);
            picker.$emit('pick', [start, end]);
        }
    }

    function getMonthsBefore(months) {
        return function (picker) {
            var end = new Date(),
                start = new Date();
            start.setMonth(end.getMonth() - months)
            picker.$emit('pick', [start, end]);
        }
    }

    var repoItems = [], scheduleItems = [];
    var pageSize = 6, maxPage = 0, pageNum = 1;
    var searchKey={};
    var totalRef=[];

    var app = new Vue({
        el: '#app',
        data: {
            pageNum: pageNum,
            total:totalRef,
            formInput: {
                date: undefined,
                repo: '',
                eventType: ''
            },
            repos: repoItems,
            tableData: scheduleItems,
            lookupDateText: "",
            eventTypes: {
                '出入库事件': 1,
                '物资调配申请': 2,
                '物资调配完成': 3
            },
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick: getDaysBefore(7)
                }, {
                    text: '最近两周',
                    onClick: getDaysBefore(14)
                }, {
                    text: '最近一个月',
                    onClick: getMonthsBefore(1)
                }, {
                    text: '最近三个月',
                    onClick: getMonthsBefore(3)
                }, {
                    text: '最近半年',
                    onClick: getMonthsBefore(6)
                }, {
                    text: '最近一年',
                    onClick: getMonthsBefore(12)
                }]
            }
        },
        mounted: function () {
            post('/common/relatehouse', {}, (data, err) => {
                if (err) {
                    console.log(err);
                    return
                }
                for (var i in data) {
                    repoItems.push(data[i]);
                }
            });
        },
        methods: {
            search: function () {
                searchKey={
                    warehouseid: app.formInput.repo,
                    pageNum: app.pageNum,
                    start_time: app.dateText.slice(0, 19),
                    end_time: app.dateText.slice(22)
                }
                getData(searchKey);
            },
            handleCurrentChange:function(page){
                searchKey['pageNum']=page;
                getData(searchKey);
            },
            getWarehouses: function () {
                post('/system/get_warehouse', {
                    pageNum: 1,
                    pageSize: 100000
                }, (data, err) => {
                    if (err) {
                        app.$message.error(err.msg);
                        return;
                    }
                    for (var i in data) {
                        app.repos.push(data[i]);
                    }
                });
            }
        },
        computed: {
            dateText: function () {
                if (!this.formInput.date) {
                    return '';
                }

                var dateFormat = require('dateformat');
                var dateTexts = this.formInput.date.map(
                    (d) => dateFormat(d, "yyyy-mm-dd 00:00:00")
                );

                return dateTexts[0] + " ~ " + dateTexts[1];
            }
        }
    });
</script>
</html>