<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入库登记</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .el-form-item {
            margin: 0;
        }

        [v-cloak] {
            display: none;
        }

        .el-card {
            margin-bottom: 5px;
        }

        p.form-item {
            margin: 2px 0 5px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <!--入库业务-->
    <el-card>
        <span slot="header">入库单填写</span>
        <el-form :model="inGoing" inline>
            <p class="form-item">
                <el-form-item label="操作员：" size="mini">
                    <el-input v-model="inGoing.caozuoyuan" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="仓库：" size="mini">
                    <el-input v-model="inGoing.cangku" :disabled="true"></el-input>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="建单人：" size="mini">
                    <el-input v-model="inGoing.jiandanren"></el-input>
                </el-form-item>
                <el-form-item label="建单日期：" size="mini">
                    <el-input v-model="inGoing.jiandanriqi"></el-input>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="入库单号：" size="mini">
                    <el-input v-model="inGoing.rukudanhao"></el-input>
                </el-form-item>
                <el-form-item label="入库类别：" size="mini">
                    <el-select v-model="inGoing.rukuleibie">
                        <el-option label="正常入库" value="type1"></el-option>
                    </el-select>
                </el-form-item>
            </p>
        </el-form>
        <!--点击上传文件-->
        <!--<el-form :inline="true">
            <el-form-item label="入库单上传：" size="mini" :inline="true">
                <el-upload action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove" :before-remove="beforeRemove" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList">
                    <el-button size="mini" type="primary">点击上传</el-button>
                </el-upload>
            </el-form-item>
        </el-form>-->
        <hr style="height:1px; border:none; border-top:1px dashed #c0c4cc">
        <p class="form-item">
            <el-table :data="inResult" size="mini" max-height="250">
                <el-table-column type="index" width="44" label="序号"></el-table-column>
                <el-table-column prop="huopinbianhao" label="货品编号"></el-table-column>
                <el-table-column prop="huopinmingcheng" label="货品名称"></el-table-column>
                <el-table-column prop="danwei" label="单位"></el-table-column>
                <!--可编辑项 begin  *与出库不同——删 去向 项-->
                <el-table-column prop="rukushiliang" label="入库数量" width="75">
                    <template slot-scope="scope">
                        <el-input size="mini"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="rukushijian" label="入库时间" width="80">
                    <template slot-scope="scope">
                        <el-input size="mini"></el-input>
                    </template>
                </el-table-column>
                <!--可编辑项 end-->
                <el-table-column prop="zerenren" label="责任人"></el-table-column>
                <el-table-column prop="lianxidianhua" label="联系电话"></el-table-column>
                <el-table-column prop="beizhu" label="备注"></el-table-column>
                <el-table-column prop="shanchu" label="">
                    <!--点击删除当前已选中货品-->
                    <template slot-scope="scope">
                        <el-button size="mini" style="background-color: #ececec"
                                   @click.native.prevent="deleteRow(scope.$index,inResult)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </p>
        <p class="form-item">
            <!--保存 生成货品清单-->
            <el-button style="background-color: #ececec">保存</el-button>
            <!--点击调用打印机 打印inResult表格清单-->
            <el-button style="background-color: #ececec">生成货品清单</el-button>
        </p>
    </el-card>
    <!--查找-->
    <el-card>
        <span slot="header">选择用来填写的物品</span>
        <el-form :model="queryCondition" inline>
            <p class="form-item">
                <!-- TODO: 放入组件 -->
                <el-form-item label="货品类别">
                    <el-ext-foldable :options="[1,2,3,4]"></el-ext-foldable>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="货品名称：" size="mini">
                    <el-input v-model="queryCondition.huopinmingcheng"></el-input>
                </el-form-item>
                <el-form-item label="供应商：" size="mini">
                    <el-select v-model="queryCondition.gongyingshang">
                        <el-option label="一" value="TB"></el-option>
                        <el-option label="二" value="JD"></el-option>
                    </el-select>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="货品编号：" size="mini">
                    <el-input v-model="queryCondition.huopinbianhao"></el-input>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item size="mini">
                    <el-button style="background-color: #ececec">查找</el-button>
                </el-form-item>
            </p>
            <hr style="height:1px; border:none; border-top:1px dashed #c0c4cc">
            <p class="form-item">
                <el-table :data="queryResult" size="mini" max-height="250">
                    <el-table-column type="index" width="50" label="序号"></el-table-column>
                    <el-table-column prop="huopinbianhao" label="货品编号"></el-table-column>
                    <el-table-column prop="huopinmingcheng" label="货品名称"></el-table-column>
                    <el-table-column prop="rukushijian" label="入库时间"></el-table-column>
                    <el-table-column prop="gongyingshang" label="供应商"></el-table-column>
                    <el-table-column prop="xiangxixinxi" label="详细信息" width="80">
                        <!--点击查看当前物资详细信息-->
                        <template slot-scope="scope">
                            <el-button size="mini" style="background-color: #ececec" @click="dialogVisible=true">查看
                            </el-button>
                            <el-dialog title="货品详细信息" :visible.sync="dialogVisible" width="50%"
                                       :before-close="handleClose">
                                <span>这里应该是所选货品的详细信息</span>
                                <span slot="footer" class="dialog-footer">
                                <el-button @click="dialogVisible = false" size="mini" style="background-color: #ececec">关闭</el-button>
                            </span>
                            </el-dialog>
                        </template>
                    </el-table-column>
                    <el-table-column prop="zerenren" label="责任人"></el-table-column>
                    <el-table-column prop="lianxidianhua" label="联系电话"></el-table-column>
                    <el-table-column prop="ruku" label="">
                        <!--点击入库 复制转移所有当前货品编号至 inResult-->
                        <template slot-scope="scope">
                            <el-button size="mini" style="background-color: #ececec">入库</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </p>
        </el-form>
    </el-card>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    const ElExtFoldable = require('/comps/el-ext-foldable');

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                queryCondition: {
                    /* 查找部分 —— 查找条件 */
                    huopinmingcheng: '',
                    gongyingshang: '',
                    huopinbianhao: '',
                    huopinleibie: ''
                },
                queryResult: [{
                    /* 查找部分 —— 查找结果表格 */
                    huopinbianhao: '1',
                    huopinmingcheng: '',
                    rukkushijian: '',
                    gongyingshang: '',
                    xiangxixinxi: '',
                    zerenren: '',
                    lianxidianhua: '',
                    ruku: ''
                }],
                inGoing: {
                    /* 入库业务 —— 相关信息填写 */
                    cangku: '',
                    caozuoyuan: '',
                    rukudanhao: '',
                    rukudanshangchuan: '',
                    jiaodanren: '',
                    jiandanriqi: '',
                    rukuleibie: ''
                },
                inResult: [{
                    /* 入库业务 —— 信息结果表格 */
                    huopinbianhao: '',
                    huopinmingcheng: '',
                    danwei: '',
                    rukushuliang: '',
                    rukushijian: '',
                    zerenren: '',
                    lianxidianhua: '',
                    beizhu: ''
                }],
                fileList: [{
                    /* 入库业务 —— 入库单上传 */
                    name: '默认文件',
                    url: ''
                }],
                dialogVisible: false  /*查看当前货品详细信息 查看 button*/
            }
        },
        methods: {
            /*入库单上传相关函数 begin*/
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            /*入库单上传相关函数 end*/

            /*表格内 删除 按钮  begin*/
            deleteRow(index, rows) {
                rows.splice(index, 1);
            }
        },
        components: {
            ElExtFoldable: ElExtFoldable
        }
    });
</script>

</html>