<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入库登记</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .el-form-item {
            margin: 0;
        }

        [v-cloak] {
            display: none;
        }

        .el-card {
            margin-bottom: 5px;
        }

        p.form-item {
            margin: 2px 0 5px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <!--入库业务-->
    <el-card>
        <span slot="header">入库单填写</span>
        <el-form :model="inGoing" inline>
            <p class="form-item">
                <el-form-item label="操作员：" size="mini">
                    <el-input v-model="inGoing.realName" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="仓库：" size="mini">
                    <el-input v-model="inGoing.warehouseName" :disabled="true"></el-input>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="建单人：" size="mini">
                    <el-input v-model="inGoing.founder"></el-input>
                </el-form-item>
                <el-form-item label="建单日期：" size="mini">
                    <el-input v-model="inGoing.jiandanriqi"></el-input>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="入库单号：" size="mini">
                    <el-input v-model="inGoing.inboundNum"></el-input>
                </el-form-item>
                <el-form-item label="入库类别：" size="mini">
                    <el-select v-model="inGoing.rukuleibie">
                        <el-option label="正常入库" value="type1"></el-option>
                    </el-select>
                </el-form-item>
            </p>
        </el-form>
        <!--点击上传文件-->
        <!--<el-form :inline="true">
            <el-form-item label="入库单上传：" size="mini" :inline="true">
                <el-upload action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove" :before-remove="beforeRemove" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList">
                    <el-button size="mini" type="primary">点击上传</el-button>
                </el-upload>
            </el-form-item>
        </el-form>-->
        <hr style="height:1px; border:none; border-top:1px dashed #c0c4cc">
        <p class="form-item">
            <el-table :data="inResult" size="mini" max-height="250">
                <el-table-column type="index" width="44" label="序号"></el-table-column>
                <el-table-column prop="localId" label="货品编号"></el-table-column>
                <el-table-column prop="goodsName" label="货品名称"></el-table-column>
                <el-table-column prop="unit" label="单位"></el-table-column>
                <!--可编辑项 begin  *与出库不同——删 去向 项-->
                <el-table-column prop="amount" label="入库数量" width="75">
                    <template slot-scope="scope">
                        <el-input size="mini"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="registerTime" label="入库时间" width="80">
                    <template slot-scope="scope">
                        <el-input size="mini"></el-input>
                    </template>
                </el-table-column>
                <!--可编辑项 end-->
                <el-table-column prop="charity" label="责任人"></el-table-column>
                <el-table-column prop="phone" label="联系电话"></el-table-column>
                <el-table-column prop="remark" label="备注"></el-table-column>
                <el-table-column>
                    <!--点击删除当前已选中货品-->
                    <template slot-scope="scope">
                        <el-button size="mini" style="background-color: #ececec"
                                   @click.native.prevent="deleteRow(scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </p>
        <p class="form-item">
            <!--保存 生成货品清单-->
            <el-button style="background-color: #ececec" @click="save">保存</el-button>
            <!--点击调用打印机 打印inResult表格清单-->
            <el-button style="background-color: #ececec">生成货品清单</el-button>
        </p>
    </el-card>
    <!--查找-->
    <el-card>
        <span slot="header">选择用来填写的物品</span>
        <el-form :model="queryCondition" inline>
            <p class="form-item">
                <!-- TODO: 放入组件 -->
                <el-form-item label="货品类别">
                        <el-ext-foldable :options="resTypeList" v-model="selectedTypes"></el-ext-foldable>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="货品名称：" size="mini">
                    <el-input v-model="queryCondition.goodsName"></el-input>
                </el-form-item>
                <el-form-item label="供应商：" size="mini">
                    <el-input v-model="queryCondition.producerName"></el-input>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item label="货品编号：" size="mini">
                    <el-input v-model="queryCondition.localId"></el-input>
                </el-form-item>
            </p>
            <p class="form-item">
                <el-form-item size="mini">
                    <el-button style="background-color: #ececec" @click="search">查找</el-button>
                </el-form-item>
            </p>
            <hr style="height:1px; border:none; border-top:1px dashed #c0c4cc">
            <p class="form-item">
                <el-table :data="queryResult" size="mini" max-height="250">
                    <el-table-column type="index" width="50" label="序号"></el-table-column>
                    <el-table-column prop="localId" label="货品编号"></el-table-column>
                    <el-table-column prop="goodsName" label="货品名称"></el-table-column>
                    <el-table-column prop="registerTime" label="入库时间"></el-table-column>
                    <el-table-column prop="supplier" label="供应商"></el-table-column>
                    <el-table-column label="详细信息" width="80">
                        <!--点击查看当前物资详细信息-->
                        <template slot-scope="scope">
                            <el-button size="mini" style="background-color: #ececec" @click="viewDetail(scope.row)">查看
                            </el-button>
                            <el-dialog title="货品详细信息" :visible.sync="dialogVisible" width="50%"
                                       :before-close="handleClose">
                                <span>详细信息</span>
                                <el-table :data="detailForm">
                                    <el-table-column prop="key1" :width="150">
                                        <template slot-scope="props">
                                            <b>{{props.row.key1}}</b>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="val1" :width="200">
                                        <template slot-scope="props">
            <p style="margin: 0;">{{props.row.val1}}</p>
            </template>
            </el-table-column>
            <el-table-column prop="key2" :width="150">
                <template slot-scope="props">
                    <b>{{props.row.key2}}</b>
                </template>
            </el-table-column>
            <el-table-column prop="val2" :width="275">
                <template slot-scope="props">
                    <p style="margin: 0;">{{props.row.val2}}</p>
                </template>
            </el-table-column>
            <el-table-column prop="key3" :width="150">
                <template slot-scope="props">
                    <b>{{props.row.key3}}</b>
                </template>
            </el-table-column>
            <el-table-column prop="val3" :width="220">
                <template slot-scope="props">
                    <p style="margin: 0;">{{props.row.val3}}</p>
                </template>
            </el-table-column>
            </el-table>
            <span slot="footer" class="dialog-footer">
                                <el-button @click="dialogVisible = false" size="mini" style="background-color: #ececec">关闭</el-button>
                            </span>
            </el-dialog>
            </template>
            </el-table-column>
            <el-table-column prop="charity" label="责任人"></el-table-column>
            <el-table-column prop="phone" label="联系电话"></el-table-column>
            <el-table-column prop="ruku" label="">
                <!--点击入库 复制转移所有当前货品编号至 inResult-->
                <template slot-scope="scope">
                    <el-button size="mini" style="background-color: #ececec" @click="goIn(scope.row)"
                               :disabled="scope.row.isIn">入库
                    </el-button>
                </template>
            </el-table-column>
            </el-table>
            </p>
        </el-form>
    </el-card>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    const ElExtFoldable = require('/comps/el-ext-foldable');
    var post = require('/mods/backend');

    function getData(app) {
        post('/depot/initialize', {}, (data, err) => {
            if (err) {
                return;
            }
            app.inGoing.warehouseName = data.warehouseName;
            app.inGoing.realName = data.realName;
        });
    }

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                selectedTypes: [],
                resTypeList: [
                    '电脑整机', '大型家电', '网络产品', '厨房电器',
                    '电脑配件', '五金装饰', '摄影摄像', '健康卫生',
                    '数码配件', '通信器材', '办公设备', '家具',
                    '文具耗材', '生活电器', '生活用品', '汽车用品',
                    '文体器材', '学习书籍', '粮油食品', '工程建材',
                    '医疗卫生', '油品', '军队服装', '交通工具', '其他'
                ],
                queryCondition: {
                    /* 查找部分 —— 查找条件 */
                    goodsName: '',
                    producerName: '',
                    localId: '',
                    type: ''
                },
                queryResult: [],
                inGoing: {
                    /* 入库业务 —— 相关信息填写 */
                    warehouseName: '',
                    realName: '',
                    inboundNum: '',
                    rukudanshangchuan: '',
                    jiaodanren: '',
                    jiandanriqi: '',
                    rukuleibie: ''
                },
                inResult: [],
                fileList: [{
                    /* 入库业务 —— 入库单上传 */
                    name: '默认文件',
                    url: ''
                }],
                transfer: {
                    goods_id: '物资ID',
                    goods_name: '物资名称',
                    local_id: '编号',
                    type: '物资类型',
                    keywords: '关键字',
                    norms: '规格',
                    appearance: '外观',
                    time_feature: '时间特征',
                    safety_condition: '安全条件',
                    carrier_size: '运载尺寸',
                    temperature: '温度条件',
                    humidity: '湿度条件',
                    other_conditions: '其他条件',
                    producer_name: '生产商',
                    produce_time: '生产时间',
                    produce_valid_time: '过期时间',
                    warehouse_id: '所在仓库',
                    longitude: '经度',
                    latitude: '纬度',
                    altitude: '海拔',
                    country_id: '国家',
                    area: '战区',
                    province_id: '省份',
                    city_id: '城市',
                    county_id: '区县',
                    detail_location: '详细地址',
                    is_managed: '过程管理',
                    register_time: '最后一次修改时间',
                    state_id: '状态',
                    state_type: '状态类型',
                    state_value: '状态值',
                    quantity: '数量'
                },
                detailForm: [],
                dialogVisible: false  /*查看当前货品详细信息 查看 button*/
            }
        },
        mounted() {
            getData(this);
        },
        methods: {
            goIn(row) {
                app.inResult.push(row);
                row.isIn = true;
            },
            save() {
                post('/depot/storage_management', {
                    method: '入库',
                    inboundNum: app.inGoing.inboundNum,
                    founder: app.inGoing.founder,
                    list: (() => {
                        var newList = [];
                        for (var item of app.inResult) {
                            newList.push(JSON.stringify(item));
                        }
                        return newList;
                    })()
                }, (data, err) => {
                    if (err) {
                        return;
                    }

                })
            },
            viewDetail(row) {
                var tmp = [];
                post('/depot/get_detail', {
                    goodsId: row.goodsId,
                    goodsLocalId: row.goodsLocalId
                }, (data, err) => {
                    if (err) {
                        return;
                    }
                    for (var key in data) {
                        var obj = {};
                        obj['key'] = app.transfer[key];
                        if (key === 'is_managed') {
                            obj['val'] = ['不受监管', '受监管'][parseInt(data[key])];
                        } else if (key === 'state_id') {
                            obj['val'] = ["", '占用', '调配', '使用', '空闲'][parseInt(data[key])];
                        } else if (key === 'province_id' || key === 'city_id' || key === 'county_id') {
                            obj['val'] = CTT[parseInt(data[key])];
                        } else if (key === 'country_id') {
                            obj['val'] = ["其他", "中国", "其他"][parseInt(data[key])];
                        } else if (key === 'warehouse_id') {
                            obj['val'] = row.warehouseName;
                        } else {
                            obj['val'] = data[key];
                        }
                        if (obj['key'] !== undefined) {
                            tmp.push(obj);
                        }
                    }
                    for (let i = 0; tmp[i] !== undefined; i += 3) {
                        var obj = {};
                        obj['key1'] = tmp[i]['key'];
                        obj['val1'] = tmp[i]['val'];
                        if (tmp[i + 1]) {
                            obj['key2'] = tmp[i + 1]['key'];
                            obj['val2'] = tmp[i + 1]['val'];
                        } else {
                            obj['key2'] = "";
                            obj['val2'] = "";
                        }
                        if (tmp[i + 2]) {
                            obj['key3'] = tmp[i + 2]['key'];
                            obj['val3'] = tmp[i + 2]['val'];
                        } else {
                            obj['key3'] = "";
                            obj['val3'] = "";
                        }
                        app.detailForm.push(obj);
                    }
                });
                app.dialogVisible = true;
            },
            handleClose() {
                app.dialogVisible = false;
            },
            search() {
                while (app.queryResult[0] !== undefined) {
                    app.queryResult.pop();
                }
                var toPost = {};
                toPost['method'] = '入库';
                for (var key in app.queryCondition) {
                    toPost[key] = app.queryCondition[key];
                }
                post('/depot/query_schedule', toPost, (data, err) => {
                    if (err) {
                        return;
                    }
                    for (var item of data) {
                        item['isIn'] = false;
                        app.queryResult.push(item);
                    }
                })
            },
            /*入库单上传相关函数 begin*/
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            /*入库单上传相关函数 end*/

            /*表格内 删除 按钮  begin*/
            deleteRow(row) {
                app.inResult.splice(app.inResult.indexOf(row), 1);
                row.isIn = false;
            }
        },
        components: {
            ElExtFoldable: ElExtFoldable
        }
    });
</script>

</html>