<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>调配业务管理</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 130px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <el-form>
        <el-form-item label="时间范围">
            <el-date-picker
                @change="handleDateChange"
                v-model="dateRange"
                type="daterange"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="发货仓库">
            <el-select v-model="query.startWarehouseName">
                <el-option label="不限" :value="undefined">不限</el-option>
                <el-option v-for="warehouse in warehouseChoices" :label="warehouse.warehouseName" :value="warehouse.warehouseName">
                    {{warehouse.warehouseName}}
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-radio v-model="query.state" :label="undefined">不限</el-radio>
            <el-radio v-model="query.state" :label="0">申请中</el-radio>
            <el-radio v-model="query.state" :label="1">已撤销</el-radio>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
            <el-button type="reset" @click="reset">重置</el-button>
        </el-form-item>
    </el-form>
    <template>
        <el-table stripe :data="management">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="用户真实姓名">
                            <span>{{props.row.userRealName}}</span>
                        </el-form-item>
                        <el-form-item label="用户部门名称">
                            <span>{{props.row.companyName}}</span>
                        </el-form-item>
                        <el-form-item label="货物本地ID">
                            <span>{{props.row.goodLocalId}}</span>
                        </el-form-item>
                        <el-form-item label="创建时间">
                            <span>{{props.row.createTime}}</span>
                        </el-form-item>
                        <el-form-item label="更新时间">
                            <span>{{props.row.updateTime}}</span>
                        </el-form-item>
                        <el-form-item label="期待时间成本">
                            <span>{{props.row.expectTime}}</span>
                        </el-form-item>
                        <el-form-item label="申请单有效时间">
                            <span>{{validTime}}</span>
                        </el-form-item>
                        <el-form-item label="发货仓库">
                            <span>{{props.row.startWarehouseName}}</span>
                        </el-form-item>
                        <el-form-item label="申请货物目的仓库">
                            <span>{{props.row.endWarehouseName}}</span>
                        </el-form-item>
                        <el-form-item label="目的地址">
                            <span>{{props.row.destinationAddress}}</span>
                        </el-form-item>
                        <el-form-item label="目的省">
                            <span>{{props.row.destinationProvince}}</span>
                        </el-form-item>
                        <el-form-item label="目的城市">
                            <span>{{props.row.destinationCity}}</span>
                        </el-form-item>
                        <el-form-item label="申请号">
                            <span>{{props.row.applicationNum}}</span>
                        </el-form-item>
                        <el-form-item label="申请描述">
                            <span>{{props.row.description}}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column prop="goodsName" label="货物名称">
            </el-table-column>
            <el-table-column prop="requestType" label="需求类型">
            </el-table-column>
            <el-table-column prop="amount" label="申请数量">
            </el-table-column>
            <el-table-column prop="state" label="状态">
                <template slot-scope="props">
                    {{['申请中','已撤销'][props.row.state]}}
                </template>
            </el-table-column>
            <el-table-column prop="isDone" label="是否完成">
                <template slot-scope="props">
                    {{['未完成','已完成'][props.row.isDone]}}
                </template>
            </el-table-column>
            <el-table-column prop="isPass" label="请求是否通过">
                <template slot-scope="props">
                    {{['未通过','已通过'][props.row.isPass]}}
                </template>
            </el-table-column>
            <el-table-column prop="completetime" label="完成时间">
            </el-table-column>
            <el-table-column label="操作" :width="250">
                <template slot-scope="props">
                    <el-button v-if="props.row.state==0" type="primary" size="mini" @click="()=>{viewRoute(props.row)}">跟踪</el-button>
                    <el-button v-if="props.row.state==0" type="danger" size="mini" @click="()=>{cancelReq(props.row)}">撤销</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @current-change="handleCurrentChange" :current-page="pageNum"
                       :page-size="6" layout="total,prev,pager,next,jumper" :total="total"></el-pagination>
    </template>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    //接口没好
    var catchData=require('/mods/pagination').getData;
    var totalPages;//DOM里用这些

    function clearData(){
        while(manageItems[0]!=undefined){
            manageItems.pop();
        }
    }

    function getData(searchKey,pageNum){
        catchData({
            url:'/common/getnowsche',
            app:app,
            refresh:[manageItems,],
            pageNum:pageNum,
            searchKey:searchKey,
            pageSize:6,
            itemName:'schedules',
            total:(totalNum)=>{
                app.total=totalNum;
            }
        },(allPages,data)=>{
            totalPages=allPages;
            for(var da of data){
                manageItems.push(da);
            }
        })
    }

    var searchKey={};
    var post=require('/mods/backend');
    var manageItems=[];
    var app = new Vue({
        el: '#app',
        data:function() {
            return {
                management:manageItems,
                dateRange:"",
                pageNum:1,
                total:0,
                warehouseChoices:[],
                query:{
                    startWarehouseName:undefined,
                    start_time:undefined,
                    end_time:undefined
                },
            };
        },
        mounted:function(){
            getData(searchKey,1);
            post('/common/relatehouse',{},(data,err)=>{
                if(err){
                    app.$message.error(err.msg);
                }
                for(let warehouse of data){
                    app.warehouseChoices.push(warehouse);
                }
            })
        },
        methods: {
            handleDateChange(){
                var [s,e]=[...app.dateRange];
                app.query.start_time=[s.getFullYear(),s.getMonth()+1<10?'0'+(s.getMonth()+1):s.getMonth()+1,s.getDate()<10?'0'+s.getDate():s.getDate()].join('-')+" 00:00:00";
                app.query.end_time=[e.getFullYear(),e.getMonth()+1<10?'0'+(e.getMonth()+1):e.getMonth()+1,e.getDate()<10?'0'+e.getDate():e.getDate()].join('-')+" 00:00:00";
            },
            handleCurrentChange(page){
                getData(searchKey,page);
            },
            cancelReq:function(row){
                this.$confirm('确认撤销该物资调配的申请？', null, {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    post('/common/delsche',{
                        scheduleId:row.schedule_id
                    },(data,err)=>{
                        if(err){
                            app.$message.error(err.msg);
                            return;
                        }
                        getData(searchKey,1);
                    })
                })
            },
            search(){
                var obj={};
                app.pageNum=1;
                Object.assign(obj,app.query);
                Object.assign(searchKey,obj);
                getData(obj,1);
            },
            reset(){
                searchKey={};
                app.query={};
                app.dateRange="";
                getData(searchKey,1);
            }

        }
    });
</script>
</html>