<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>调配业务管理</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 130px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        [v-cloak]{
            display: none;
        }

        div.map-cols {
            display: flex;
            min-height: 100px;
        }

        div.map-cols > div.w6 {
            flex: 6 0 0;
            height: 500px;
        }

        div.map-cols > div.w4 {
            flex: 4 0 0;
            overflow-x: hidden;
            overflow-y: auto;
        }

        #map-container {
            height: 100%;
            width: 100%;
        }

        .emphasize-font {
            font-size: 16px;
        }

        ul.route-path-info {
            margin-top: 0;
        }

        ul.route-path-info > li {
            color: #5d5d5d;
            padding: 15px 0;
            border-bottom: #ddd solid 1px;
        }

        ul.route-path-info > li:last-child {
            color: #415a75;
            font-weight: bolder;
            border-bottom: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <el-form v-loading.fullscreen="initializing" element-loading-text="加载中"
             element-loading-background="rgba(0,0,0,0.8)">
        <el-form-item label="时间范围">
            <el-date-picker
                @change="handleDateChange"
                v-model="dateRange"
                type="daterange"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
            </el-date-picker>
        </el-form-item>
        <el-form :inline="true">
            <el-form-item label="货物名称">
                <el-input v-model="query.goodsName"></el-input>
            </el-form-item>
            <el-form-item label="货物编号">
                <el-input v-model="query.goodLocalId"></el-input>
            </el-form-item>
        </el-form>

        <el-form-item label="状态">
            <el-radio v-model="query.state" :label="undefined">不限</el-radio>
            <el-radio v-model="query.state" :label="0">申请中</el-radio>
            <el-radio v-model="query.state" :label="1">已撤销</el-radio>
            <el-radio v-model="query.state" :label="2">已通过</el-radio>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
            <el-button type="reset" @click="reset">返回</el-button>
        </el-form-item>
    </el-form>
    <el-table stripe :data="management">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="申请号">
                        <span>{{props.row.applicationNum}}</span>
                    </el-form-item>
                    <el-form-item label="申请人">
                        <span>{{props.row.userRealName}}</span>
                    </el-form-item>
                    <el-form-item label="申请人所在部门">
                        <span>{{props.row.companyName}}</span>
                    </el-form-item>
                    <el-form-item label="货物本地ID">
                        <span>{{props.row.goodsId}}</span>
                    </el-form-item>
                    <el-form-item label="创建时间">
                        <span>{{props.row.createTime}}</span>
                    </el-form-item>
                    <!--<el-form-item label="更新时间">-->
                        <!--<span>{{props.row.updateTime}}</span>-->
                    <!--</el-form-item>-->
                    <el-form-item label="期待时间成本">
                        <span>{{props.row.expectTime}}</span>
                    </el-form-item>
                    <el-form-item label="发货仓库">
                        <span>{{props.row.startWarehouseName}}</span>
                    </el-form-item>
                    <el-form-item label="收货仓库">
                        <span>{{props.row.endWarehouseName}}</span>
                    </el-form-item>
                    <el-form-item label="收货地址">
                        <span>{{props.row.destinationAddress}}</span>
                    </el-form-item>
                    <el-form-item label="目的省">
                        <span>{{props.row.destinationProvince}}</span>
                    </el-form-item>
                    <el-form-item label="目的城市">
                        <span>{{props.row.destinationCity}}</span>
                    </el-form-item>
                    <el-form-item label="申请描述">
                        <span>{{props.row.description}}</span>
                    </el-form-item>
                    <el-form-item label="申请有效时间">
                        <span>{{props.row.validTime+'天'}}</span>
                    </el-form-item>：disabled1</el-form>
            </template>
        </el-table-column>
        <el-table-column prop="goodsName" label="货物名称">
        </el-table-column>
        <el-table-column prop="requestType" label="需求类型">
        </el-table-column>
        <el-table-column prop="amount" label="申请数量">
        </el-table-column>
        <el-table-column label="状态">
            <template slot-scope="props">
                {{['申请中','已撤销','已通过','已完成'][(()=>{
                if(props.row.isPass===1){
                return 2;
                }
                if(props.row.isDone===1){
                return 3;
                }
                return props.row.state;
                })()]}}
            </template>
        </el-table-column>
        <el-table-column prop="completetime" label="完成时间">
        </el-table-column>
        <el-table-column label="操作" :width="250">
            <template slot-scope="props">
                <el-button :disabled="props.row.state==1" type="primary" size="mini" @click="()=>{viewRoute(props.row)}" :title="props.row.state==1?'该申请已撤销':''">跟踪</el-button>
                <el-button :disabled="props.row.state==1||props.row.isPass==1" type="danger" size="mini" @click="()=>{cancelReq(props.row)}" :title="(()=>{
                if(props.row.state===1)
                    return '该申请已撤销'
                else if(props.row.isPass===1)
                    return '该申请已被通过，无法撤销'
                })()">撤销</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination @current-change="handleCurrentChange" :current-page="pageNum"
                   :page-size="6" layout="total,prev,pager,next,jumper" :total="total"></el-pagination>
    <el-dialog
        title="路径查看" width="60%"
        :visible.sync="mapDialog.show">
        <div class="map-cols">
            <div class="w6">
                <!-- amapInst 还是 null，说明地图没有加载好 -->
                <el-amap
                    vid="map-container"
                    v-loading="!mapDialog.amapInst"
                    element-loading-text="正在加载地图"
                    :events="mapDialog.amapEvents" :zooms="[3,5]"></el-amap>
            </div>
            <div class="w4">
                <ul class="route-path-info">
                    <li v-for="desc in routeDesc">
                        <div class="emphasize-font">到达{{desc.station}}</div>
                        <div>{{desc.time}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </el-dialog>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="lib/vue-amap.js"></script>
<script src="res/dependencies.js"></script>
<script>
    VueAMap.initAMapApiLoader({
        key: '9182c11acb5eadcb51f274432310fd73'
    });

    //接口没好
    const catchData=require('/mods/pagination').getData;
    const cityLoc = require('/mods/cityloc');
    const dateFormat = require('dateformat');
    var totalPages;//DOM里用这些

    function clearData(){
        while(manageItems[0]!=undefined){
            manageItems.pop();
        }
    }

    function getData(searchKey,pageNum){
        if(searchKey.state===0){
            searchKey.state=0;
            searchKey.isPass=0;
        }
        if(searchKey.state===2){
            searchKey.state=0;
            searchKey.isPass=1;
        }
        catchData({
            url:'/common/getnowsche',
            app:app,
            refresh:[manageItems,],
            pageNum:pageNum,
            searchKey:searchKey,
            pageSize:6,
            itemName:'schedules',
            total:(totalNum)=>{
                app.total=totalNum;
            }
        },(allPages,data)=>{
            totalPages=allPages;
            for(var da of data){
                manageItems.push(da);
            }
        },10)
    }

    function updateMap() {
        // 若当前 amapInst 未加载，则直接返回；
        // 不必担心数据无法加载；当 amapInst 成功加载的时候，会再调用一次 updateMap
        // 效果：显示“地图正在加载中”然后就看到了路径
        if (!app.mapDialog.amapInst) {
            return;
        }

        var amapInst = app.mapDialog.amapInst;
        var d = app.mapDialog.data;

        // 去掉所有的覆盖物，重新绘画
        amapInst.clearMap();

        var nodes = [];

        for (var i in d) {
            // 去掉“市”字
            var station = d[i].station.replace("市", "");
            nodes.push(cityLoc[station]);
        }

        nodes.map(loc => {
            new AMap.CircleMarker({
                map: amapInst,
                center: new AMap.LngLat(loc[0], loc[1]),
                radius: 10,
                strokeColor: "#b3d8ff",
                fillColor: "#409eff"
            });
        });

        for(var i = 0; i < nodes.length - 1; i++) {
            new AMap.Polyline({
                map: amapInst,
                path: [nodes[i].slice(), nodes[i+1].slice()],
                strokeColor: "#408ef0",
                zIndex: 1
            });
        }
    }

    var searchKey={};
    var post=require('/mods/backend');
    var manageItems=[];
    var app = new Vue({
        el: '#app',
        data: {
            initializing:false,
            management:manageItems,
            dateRange:"",
            pageNum:1,
            total:0,
            warehouseChoices:[],
            query:{
                start_time:undefined,
                end_time:undefined,
                goodsName:undefined,
                goodLocalId:undefined
            },
            mapDialog: {
                show: false,
                amapEvents: {
                    init: function(o) {
                        app.mapDialog.amapInst = o;
                        updateMap();
                    }
                },
                amapInst: null,
                data: [],
            },
        },
        computed: {
            routeDesc: function() {
                // 返回对象的箭头函数
                return this.mapDialog.data.map(info => ({
                    station: info.station,
                    time: dateFormat(
                        new Date(info.arriveTime),
                        "yyyy-mm-dd HH:MM"
                    )
                }));
            }
        },
        mounted:function(){
            getData(searchKey,1);
            post('/common/relatehouse',{},(data,err)=>{
                if(err){
                    if(err.id!==5000){
                        app.$message.error(err.msg);
                    }else{
                        app.$message.error('数据获取失败');
                    }
                    app.initializing = false;
                    return;
                }
                for(let warehouse of data){
                    app.warehouseChoices.push(warehouse);
                }
            })
        },
        methods: {
            handleDateChange(){
                // var [s,e]=[...app.dateRange];
                if(app.dateRange){
                    var s=app.dateRange[0],e=app.dateRange[1];
                    app.query.start_time=[s.getFullYear(),s.getMonth()+1<10?'0'+(s.getMonth()+1):s.getMonth()+1,s.getDate()<10?'0'+s.getDate():s.getDate()].join('-')+" 00:00:00";
                    app.query.end_time=[e.getFullYear(),e.getMonth()+1<10?'0'+(e.getMonth()+1):e.getMonth()+1,e.getDate()<10?'0'+e.getDate():e.getDate()].join('-')+" 00:00:00";
                }else{
                    app.query.start_time="";
                    app.query.end_time="";
                }
            },
            handleCurrentChange(page){
                getData(searchKey,page);
            },
            cancelReq:function(row){
                this.$confirm('确认撤销该物资调配的申请？', null, {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    app.initializing=true;
                    post('/common/delsche',{
                        scheduleId:row.schedule_id
                    },(data,err)=>{
                        if(err){
                            if(err.id!==5000){
                                app.$message.error(err.msg);
                            }else{
                                app.$message.error('数据获取失败');
                            }
                            app.initializing = false;
                            return;
                        }
                        getData(searchKey,1);
                        app.initializing = false;
                    })
                })
            },
            search(){
                var obj={};
                app.pageNum=1;
                Object.assign(obj,app.query);
                Object.assign(searchKey,obj);
                for(let key in obj){
                    if(!obj[key]&&obj[key]!==0){
                        delete obj[key];
                    }
                }
                app.initializing=true;
                getData(obj,1);
                app.initializing=false;
            },
            reset(){
                searchKey={};
                app.query={};
                app.dateRange="";
                app.initializing=true;
                getData(searchKey,1);
                app.initializing=false;
            },
            viewRoute: function(row) {
                var schedId = row.schedule_id;

                post('/common/user_goods/get_path', {
                    scheduleId: parseInt(schedId)
                }, (data, err) => {
                    if (err) {
                        app.$message.error('数据获取失败');
                        return;
                    }

                    this.mapDialog.data = data;

                    // 在地图上画圈圈和线，画了之后显示对话框
                    updateMap();
                    this.mapDialog.show = true;
                });
            }
        }
    });
</script>
</html>