<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库管理</title>
    <!--随时参考 element文档 http://element-cn.eleme.io/#/zh-CN/component/installation-->
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 120px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
        #search .el-input{
            width:180px;
        }
    </style>
</head>
<body>

<div id="app">
    <el-form id="search" :inline="true" ref="queryParams" label-position="right" label-with="80px" :model="queryParams" v-loading.fullscreen="initializing" element-loading-text="正在获取数据" element-loading-background="rgba(0,0,0,0.8)">
        <el-form-item label="仓库地址" v-model="queryParams.warehouse_location">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="仓库编号" v-model="queryParams.warehouse_code">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="国家" v-model="queryParams.country">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="省" v-model="queryParams.province">
            <el-input></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary">查找</el-button>
            <el-button>返回</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="repoData.repoInfo">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="国家">
                        <span>{{props.row.country}}</span>
                    </el-form-item>
                    <el-form-item label="地区">
                        <span>{{props.row.area}}</span>
                    </el-form-item>
                    <el-form-item label="省">
                        <span>{{props.row.province}}</span>
                    </el-form-item>
                    <el-form-item label="城市">
                        <span>{{props.row.city}}</span>
                    </el-form-item>
                    <el-form-item label="区">
                        <span>{{props.row.county}}</span>
                    </el-form-item>
                    <el-form-item label="详细地址">
                        <span>{{props.row.detail_location}}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column prop="warehouse_id" label="仓库id" width="100">
        </el-table-column>
        <el-table-column prop="warehouse_code" label="仓库编号" width="150">
        </el-table-column>
        <el-table-column prop="warehouse_name" label="仓库名称" width="250">
        </el-table-column>
        <el-table-column prop="warehouse_location" label="仓库地址" width="300">
        </el-table-column>
        <el-table-column prop="longitude" label="经度" width="100">
        </el-table-column>
        <el-table-column prop="latitude" label="纬度" width="100">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="props">
                <el-button type="warning" size="mini" @click="()=>{
                    props.row.dialogVisible=true;
                    editedForm.warehouse_id=props.row.warehouse_id
                    editedForm.warehouse_name=props.row.warehouse_name
                    editedForm.warehouse_code=props.row.warehouse_code
                    editedForm.warehouse_location=props.row.warehouse_location
                    editedForm.longitude=props.row.longitude
                    editedForm.latitude=props.row.latitude
                    editedForm.country=props.row.country
                    editedForm.area=props.row.area
                    editedForm.province=props.row.province
                    editedForm.city=props.row.city
                    editedForm.county=props.row.county
                    editedForm.detail_location=props.row.detail_location
                }">修改信息</el-button>
                <el-button type="danger" size="mini" @click="confirmDelete">删除仓库</el-button>
                <el-dialog :visible.sync="props.row.dialogVisible" v-loading.fullscreen="loading" element-loading-text="正在提交" element-loading-background="rgba(0,0,0,0.8)">
                    <el-form ref="editedForm" label-position="right" label-width="100px" :rules="editRule" :model="editedForm">
                        <el-form-item label="仓库id" prop="warehouse_id">
                            <el-input v-model="editedForm.warehouse_id" required></el-input>
                        </el-form-item>
                        <el-form-item label="仓库名称" prop="warehouse_name">
                            <el-input v-model="editedForm.warehouse_name"></el-input>
                        </el-form-item>
                        <el-form-item label="仓库编号" prop="warehouse_code">
                            <el-input v-model="editedForm.warehouse_code"></el-input>
                        </el-form-item>
                        <el-form-item label="仓库地址" prop="warehouse_location">
                            <el-input v-model="editedForm.warehouse_location" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="经度" prop="longitude">
                            <el-input v-model="editedForm.longitude" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="纬度" prop="latitude">
                            <el-input v-model="editedForm.latitude" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="国家" prop="country">
                            <el-input v-model="editedForm.country" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="地区" prop="area">
                            <el-input v-model="editedForm.area" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="省" prop="province">
                            <el-input v-model="editedForm.province" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="城市" prop="city">
                            <el-input v-model="editedForm.city" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="区" prop="county">
                            <el-input v-model="editedForm.county" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="详细地址" prop="detail_location">
                            <el-input v-model="editedForm.detail_location" clearable></el-input>
                        </el-form-item>
                        <el-form-item>
                            <p style="text-align: right">
                                <el-button type="primary" @click="confirmEdition('editedForm')">修改</el-button>
                                <el-button @click="props.row.dialogVisible=false">取消</el-button>
                            </p>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </template>
        </el-table-column>
    </el-table>
    <p style="text-align: center"><el-button type="primary" @click="()=>{addDialogVisible=true;}">+ 添加仓库</el-button></p>
    <el-dialog :visible.sync="addDialogVisible" v-loading.fullscreen="loading" element-loading-text="正在提交" element-loading-background="rgba(0,0,0,0.8)">
        <el-form ref="addForm" label-position="right" label-width="100px" :rules="editRule" :model="addForm">
            <el-form-item label="仓库id" prop="warehouse_id">
                <el-input v-model="addForm.warehouse_id" required></el-input>
            </el-form-item>
            <el-form-item label="仓库名称" prop="warehouse_name">
                <el-input v-model="addForm.warehouse_name"></el-input>
            </el-form-item>
            <el-form-item label="仓库编号" prop="warehouse_code">
                <el-input v-model="addForm.warehouse_code"></el-input>
            </el-form-item>
            <el-form-item label="仓库地址" prop="warehouse_location">
                <el-input v-model="addForm.warehouse_location" clearable></el-input>
            </el-form-item>
            <el-form-item label="经度" prop="longitude">
                <el-input v-model="addForm.longitude" clearable></el-input>
            </el-form-item>
            <el-form-item label="纬度" prop="latitude">
                <el-input v-model="addForm.latitude" clearable></el-input>
            </el-form-item>
            <el-form-item label="国家" prop="country">
                <el-input v-model="addForm.country" clearable></el-input>
            </el-form-item>
            <el-form-item label="地区" prop="area">
                <el-input v-model="addForm.area" clearable></el-input>
            </el-form-item>
            <el-form-item label="省" prop="province">
                <el-input v-model="addForm.province" clearable></el-input>
            </el-form-item>
            <el-form-item label="城市" prop="city">
                <el-input v-model="addForm.city" clearable></el-input>
            </el-form-item>
            <el-form-item label="区" prop="county">
                <el-input v-model="addForm.county" clearable></el-input>
            </el-form-item>
            <el-form-item label="详细地址" prop="detail_location">
                <el-input v-model="addForm.detail_location" clearable></el-input>
            </el-form-item>
            <el-form-item>
                <p style="text-align: right">
                    <el-button type="primary" @click="confirmEdition('addForm','add')">添加</el-button>
                    <el-button @click="addDialogVisible=false">取消</el-button>
                </p>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
</body>
<!-- 这是 JS 代码，一定要放在 <body> 后面 -->
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="res/dependencies.js"></script>
<script>
    var urlPrefix=require('/mods/backend').url;
    var app = new Vue({
        el: '#app',
        data: function () {

            //具体item从后端获取
            const item1 = {
                'warehouse_id':'1',
                'warehouse_name':'ThinkPad北邮仓库',
                'warehouse_code': '1234',
                'warehouse_location': '北京邮电大学',
                'longitude': '东经116度',
                'latitude':'北纬39度',
                'country':'中国',
                'area':'中国',
                'province':'北京',
                'city':'北京',
                'county':'海淀',
                'detail_location':'西土城路10号'
            };
            const item2 = {
                'warehouse_id':'2',
                'warehouse_name':'ThinkPad北师仓库',
                'warehouse_code': '1235',
                'warehouse_location': '北京师范大学',
                'longitude': '东经116度',
                'latitude':'北纬39度',
                'country':'中国',
                'area':'中国',
                'province':'北京',
                'city':'北京',
                'county':'海淀',
                'detail_location':'新街口外大街19号'
            }

            item1['dialogVisible'] = false;
            item2['dialogVisible'] = false;

            return {
                loading:false,
                initializing:true,
                dialogVisible: false,
                addDialogVisible:false,
                repoData: {
                    repoInfo: [item1, item2]
                },
                queryParams: {
                    warehouse_location: '',
                    warehouse_code: '',
                    longitude: ''
                },
                editedForm: {
                    warehouse_id:'',
                    warehouse_name:'',
                    warehouse_code:'',
                    warehouse_location:'',
                    longitude:'',
                    latitude:'',
                    country:'',
                    area:'',
                    province:'',
                    city:'',
                    county:'',
                    detail_location:''
                },
                addForm: {
                    warehouse_id:'',
                    warehouse_name:'',
                    warehouse_code:'',
                    warehouse_location:'',
                    longitude:'',
                    latitude:'',
                    country:'',
                    area:'',
                    province:'',
                    city:'',
                    county:'',
                    detail_location:''
                },
                editRule: {
                    warehouse_id: [
                        {required: true, message: '请输入仓库id',trigger:'blur'}
                    ]
                }
            }
        },
        mounted: function(){
            //从后端拉取数据
            $.ajax({
                type:'get',
                url:urlPrefix+'/warehouse',
                complete:(data,result,resultDesp)=>{
                    if (result === 1000 || result === 'success') {
                        console.log(data);
                        console.log(result);
                        console.log(resultDesp);
                        this.initializing=false;
                    } else {
                        this.$alert('数据拉取失败');
                    }
                    this.initializing=false;
                },
                error:(result,resultDesp)=>{
                    console.log(result);
                    console.log(resultDesp);
                    this.$alert('数据拉取失败');
                    this.initializing=false;
                }
            });
        },
        methods: {
            confirmEdition: function(formName,way){
                this.$refs[formName].validate((valid)=>{
                    if(valid){
                        this.loading=true;
                        $.ajax({
                            type: 'post',
                            url: way==='add'?urlPrefix+'/admin/add_warehouse':urlPrefix+'/admin/update_warehouse',//TODO: set correct URL
                            headers:{
                                "token":localStorage.getItem('token'),
                                "Accept":"application/json",
                                "Content-Type":"application/json"
                            },
                            data: JSON.stringify({
                                warehouse_id:this.editedForm.warehouse_id,
                                warehouse_name:this.editedForm.warehouse_name,
                                warehouse_code:this.editedForm.warehouse_code,
                                warehouse_location:this.editedForm.warehouse_location,
                                longitude:this.editedForm.longitude,
                                latitude:this.editedForm.latitude,
                                country:this.editedForm.country,
                                area:this.editedForm.area,
                                province:this.editedForm.province,
                                city:this.editedForm.city,
                                county:this.editedForm.county,
                                detail_location:this.editedForm.detail_location,
                            }),
                            complete: (data, result, resultDesp) => {
                                if (result === 1000 || result === 'success') {
                                    console.log(data);
                                    console.log(result);
                                    console.log(resultDesp);
                                    this.$alert(way==='add'?'添加成功':'修改成功');
                                    this.dialogVisible=false;
                                } else {
                                    this.$alert(way==='add'?'添加失败':'修改失败');
                                }
                                this.loading=false;
                            },
                            error: (result, resultDesp) => {
                                console.log(result);
                                console.log(resultDesp);
                                this.$alert(way==='add'?'添加失败':'修改失败');
                                this.loading=false;
                                return true;
                            }
                        })
                    }else{
                        this.$alert('信息错误，请重新填写');
                        return false;
                    }
                })

            },
            confirmDelete:function(){
                $.ajax({
                    type:'delete',
                    url:urlPrefix+'/admin/del_warehouse',
                    headers:{
                        "token":localStorage.getItem('token'),
                        "Accept":"application/json",
                        "Content-Type":"application/json"
                    },
                    data:{
                        warehouse_id:this.editedForm.warehouse_id
                    },
                    complete:function(data,result,resultDesp){
                        console.log(data);
                        console.log(result);
                        console.log(resultDesp);
                    }

                })

            }
        }
    });
</script>
</html>