<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库管理</title>
    <!--随时参考 element文档 http://element-cn.eleme.io/#/zh-CN/component/installation-->
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 120px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        #search .el-input {
            width: 180px;
        }
    </style>
</head>
<body>

<div id="app">
    <el-form id="search" :inline="true" ref="queryParams" label-position="right" label-with="80px" :model="queryParams"
             v-loading.fullscreen="initializing" element-loading-text="正在获取数据"
             element-loading-background="rgba(0,0,0,0.8)">
        <el-form-item label="仓库id">
            <el-input v-model="queryParams.warehouse_id"></el-input>
        </el-form-item>
        <el-form-item label="仓库名称">
            <el-input v-model="queryParams.warehouse_name"></el-input>
        </el-form-item>
        <el-form-item label="仓库编号">
            <el-input v-model="queryParams.warehouse_code"></el-input>
        </el-form-item>
        <el-form-item label="仓库地址">
            <el-input v-model="queryParams.warehouse_location"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查找</el-button>
            <el-button>返回</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="repoData.repoInfo">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="国家">
                        <span>{{props.row.country}}</span>
                    </el-form-item>
                    <el-form-item label="地区">
                        <span>{{props.row.area}}</span>
                    </el-form-item>
                    <el-form-item label="省">
                        <span>{{props.row.province}}</span>
                    </el-form-item>
                    <el-form-item label="城市">
                        <span>{{props.row.city}}</span>
                    </el-form-item>
                    <el-form-item label="区">
                        <span>{{props.row.county}}</span>
                    </el-form-item>
                    <el-form-item label="详细地址">
                        <span>{{props.row.detail_location}}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column prop="warehouse_id" label="仓库id" width="80">
        </el-table-column>
        <el-table-column prop="warehouse_name" label="仓库名称" width="205">
        </el-table-column>
        <el-table-column prop="warehouse_code" label="仓库编号" width="130">
        </el-table-column>
        <el-table-column prop="warehouse_location" label="仓库地址" width="275">
        </el-table-column>
        <el-table-column prop="longitude" label="经度" width="100">
        </el-table-column>
        <el-table-column prop="latitude" label="纬度" width="100">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="props">
                <el-button type="warning" size="mini" @click="()=>{
                    props.row.dialogVisible=true;
                    editedForm={...props.row};
                }">修改信息
                </el-button>
                <el-button type="danger" size="mini" @click="()=>{confirmDelete(props.row.warehouse_id)}">删除仓库
                </el-button>
                <el-dialog :visible.sync="props.row.dialogVisible" v-loading.fullscreen="loading"
                           element-loading-text="正在提交" element-loading-background="rgba(0,0,0,0.8)">
                    <el-form ref="editedForm" label-position="right" label-width="100px" :rules="editRule"
                             :model="editedForm">
                        <el-form-item label="仓库id" prop="warehouse_id">
                            <el-input v-model="editedForm.warehouse_id" required></el-input>
                        </el-form-item>
                        <el-form-item label="仓库名称" prop="warehouse_name">
                            <el-input v-model="editedForm.warehouse_name"></el-input>
                        </el-form-item>
                        <el-form-item label="仓库编号" prop="warehouse_code">
                            <el-input v-model="editedForm.warehouse_code"></el-input>
                        </el-form-item>
                        <el-form-item label="仓库地址" prop="warehouse_location">
                            <el-input v-model="editedForm.warehouse_location" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="经度" prop="longitude">
                            <el-input v-model="editedForm.longitude" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="纬度" prop="latitude">
                            <el-input v-model="editedForm.latitude" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="国家" prop="country">
                            <el-input v-model="editedForm.country" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="地区" prop="area">
                            <el-input v-model="editedForm.area" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="省" prop="province">
                            <el-input v-model="editedForm.province" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="城市" prop="city">
                            <el-input v-model="editedForm.city" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="区" prop="county">
                            <el-input v-model="editedForm.county" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="详细地址" prop="detail_location">
                            <el-input v-model="editedForm.detail_location" clearable></el-input>
                        </el-form-item>
                        <el-form-item>
                            <p style="text-align: right">
                                <el-button type="primary" @click="confirmEdition('editedForm')">修改</el-button>
                                <el-button @click="props.row.dialogVisible=false">取消</el-button>
                            </p>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </template>
        </el-table-column>
    </el-table>
    <p style="text-align: center">
        <el-button style="margin-right:150px;" @click="convertPages('previous')">上一页</el-button>
        <el-button style="margin-left: 150px;" @click="convertPages('next')">下一页</el-button>
    </p>
    <p style="text-align: center">
        <el-button type="primary" @click="()=>{addDialogVisible=true;}">+ 添加仓库</el-button>
    </p>
    <el-dialog :visible.sync="addDialogVisible" v-loading.fullscreen="loading" element-loading-text="正在提交"
               element-loading-background="rgba(0,0,0,0.8)">
        <el-form ref="addForm" label-position="right" label-width="100px" :rules="editRule" :model="addForm">
            <el-form-item label="仓库id" prop="warehouse_id">
                <el-input v-model="addForm.warehouse_id" required></el-input>
            </el-form-item>
            <el-form-item label="仓库名称" prop="warehouse_name">
                <el-input v-model="addForm.warehouse_name"></el-input>
            </el-form-item>
            <el-form-item label="仓库编号" prop="warehouse_code">
                <el-input v-model="addForm.warehouse_code"></el-input>
            </el-form-item>
            <el-form-item label="仓库地址" prop="warehouse_location">
                <el-input v-model="addForm.warehouse_location" clearable></el-input>
            </el-form-item>
            <el-form-item label="经度" prop="longitude">
                <el-input v-model="addForm.longitude" clearable></el-input>
            </el-form-item>
            <el-form-item label="纬度" prop="latitude">
                <el-input v-model="addForm.latitude" clearable></el-input>
            </el-form-item>
            <el-form-item label="国家" prop="country">
                <el-input v-model="addForm.country" clearable></el-input>
            </el-form-item>
            <el-form-item label="地区" prop="area">
                <el-input v-model="addForm.area" clearable></el-input>
            </el-form-item>
            <el-form-item label="省" prop="province">
                <el-input v-model="addForm.province" clearable></el-input>
            </el-form-item>
            <el-form-item label="城市" prop="city">
                <el-input v-model="addForm.city" clearable></el-input>
            </el-form-item>
            <el-form-item label="区" prop="county">
                <el-input v-model="addForm.county" clearable></el-input>
            </el-form-item>
            <el-form-item label="详细地址" prop="detail_location">
                <el-input v-model="addForm.detail_location" clearable></el-input>
            </el-form-item>
            <el-form-item>
                <p style="text-align: right">
                    <el-button type="primary" @click="confirmAdd('addForm')">添加</el-button>
                    <el-button @click="addDialogVisible=false">取消</el-button>
                </p>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
</body>
<!-- 这是 JS 代码，一定要放在 <body> 后面 -->
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="res/dependencies.js"></script>
<script>
    var items = [];
    var genralForm = {
        warehouse_id: '',
        warehouse_name: '',
        warehouse_code: '',
        warehouse_location: '',
        longitude: '',
        latitude: '',
        country: '',
        area: '',
        province: '',
        city: '',
        county: '',
        detail_location: ''
    };
    var pageNum = 1, pageSize = 6, maxPage = 0;
    var post = require('/mods/backend');
    var urlPrefix = 'http://10.112.128.63:8080/dispatch/'

    function getData(page, searchKey) {
        if (searchKey) {
            searchKey["pageSize"] = pageSize;
            searchKey["pageNum"] = page;
        }
        post('/system/get_warehouse', searchKey ? searchKey : {
            "pageSize": pageSize,
            "pageNum": page
        }, (data, errid) => {
            if (errid) {
                app.$alert('数据拉取失败');
                app.initializing = false;
                return;
            }
            var warehouses = data.warehouses;
            maxPage = data.allPages;
            for (var item in warehouses) {
                warehouses[item]['dialogVisible'] = false;
                warehouses[item]['addDialogVisible'] = false;
                items.push(warehouses[item]);
            }
            app.initializing = false;
        })
    }

    function clearData() {
        for (let i = 0; i < pageSize; i++) {
            items.pop();
        }
    }

    function pageControl(control) {
        if (control === 'previous') {
            if (pageNum <= 1) {
                return;
            }
            //items=[]不行，不知道为什么。
            clearData();
            pageNum -= 1;
            getData.call(app, pageNum);
        } else if (control === 'next') {
            if (pageNum >= maxPage) {
                return;
            }
            clearData();
            pageNum += 1;
            getData.call(app, pageNum);
        } else if (control === 'first') {
            clearData();
            pageNum = 1;
            getData.call(app, pageNum);
        } else if (control === 'last') {
            clearData();
            pageNum = maxPage;
            getData.call(app, pageNum);
        } else if (control === 'stay') {
            clearData();
            getData.call(app, pageNum);
        }
    }

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                loading: false,
                initializing: true,
                dialogVisible: false,
                addDialogVisible: false,
                page: pageNum,
                repoData: {
                    repoInfo: items
                },
                queryParams: {
                    warehouse_id:"",
                    warehouse_name: "",
                    warehouse_code: "",
                    warehouse_location: ""
                },
                confirmedForm: genralForm,
                editedForm: genralForm,
                addForm: genralForm,
                editRule: {
                    warehouse_id: [
                        {required: true, message: '请输入仓库id', trigger: 'blur'}
                    ]
                }
            }
        },
        mounted: function () {
            //从后端拉取数据
            getData.call(app, pageNum);
        },
        methods: {
            convertPages: (control) => {
                pageControl.call(app, control);
            },
            confirmEdition: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        post('/system/update_warehouse', app.editedForm, (data, errid) => {
                            if (errid) {
                                console.log(errid);
                                app.$message.error('修改失败');
                                app.loading = false;
                                return;
                            }
                            this.$message({
                                type: "success",
                                message: '修改成功'
                            });
                            pageControl.call(this, 'stay');
                            app.loading = false;
                            app.dialogVisible = false;
                        });
                    } else {
                        this.$alert('信息错误，请重新填写');
                        return false;
                    }
                });
            },
            confirmAdd: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        post('/system/add_warehouse', app.addForm, (data, errid) => {
                            if (errid) {
                                console.log(errid);
                                app.$message.error('添加失败');
                                app.loading = false;
                                return;
                            }
                            this.$message({
                                type: "success",
                                message: '添加成功'
                            });
                            pageControl.call(this, 'last');
                            app.loading = false;
                            app.addDialogVisible = false;
                        });
                    } else {
                        this.$alert('信息错误，请重新填写');
                        return false;
                    }
                });
            },
            confirmDelete: function (id_toDel) {
                this.$confirm('确认删除该仓库？', null, {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    post('/system/del_warehouse', {
                        "warehouse_id": id_toDel
                    }, (data, errid) => {
                        if (errid) {
                            this.$message.error('删除失败');
                            return;
                        }
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        pageControl.call(this, 'stay');
                    });
                });
            },
            search: function () {
                var validate={"pageSize":pageSize,"pageNum":pageNum};
                for(var i in app.queryParams){
                    if(app.queryParams[i]!==""){
                        validate[i]=app.queryParams[i];
                    }
                }
                console.log(validate);
                clearData();
                getData(1, validate);
            }
        }
    });
</script>
</html>