<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物资注册</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>

        .el-collapse-item__header {
            font-size: 18px;
            font-weight: bolder;
        }

        .header {
            border-bottom: 1px solid #dcdfe6;
            margin: 50px 0;
            margin-left: 100px;
            width: 80%;
        }

        .header > span {
            font-size: 20px;
            display: block;
            margin-bottom: 20px;
        }

        .el-form-item > * {
            width: 50%;
        }

        .el-select, .el-cascader {
            width: 100%;
        }

        @media (max-width: 1200px) {
            .el-aside {
                display: none;
            }
        }

        .el-header{
            display: none;
        }

        .adel {
            display: inline-block;
            position: relative;
            left: 60%;
        }

        .sub-form {
            margin-left: 50px;
        }

        .el-container {
            overflow: hidden;
        }

        a {
            color: black;
            text-decoration: none;
        }

        el-main {
            overflow: fragments;
        }

        .menu > a > div{
            padding:10px;
            border-bottom:1px solid rgba(192,192,192,0.5);
            transition:background 0.5s;
        }

        .menu > a > div:hover{
            background: rgba(168,168,168,0.4);
        }

    </style>
</head>
<body>

<div id="app">
    <el-container>
        <el-container style="padding-top:25px;">
            <el-aside style="width: 250px;">
                <div style="margin:0;position:fixed;width:225px;">
                    <div class="header" style="margin:0;border:none;">
                        <span style="margin:0 5px 5px 5px;padding-top:0;">物资信息</span>
                    </div>
                    <div class="menu">
                        <a href="#Attr"><div style="border-top:1px solid rgba(192,192,192,0.5); margin-top: 10px">属性</div></a>
                        <a href="#Pos"><div>位置</div></a>
                        <a href="#State"><div>状态</div></a>
                        <a href="#Cap"><div>能力</div></a>
                    </div>
                </div>
            </el-aside>
            <el-main>
                <el-collapse id="collapse-container" v-model="activeNames" @change="handleCollapse"
                             style="margin-top: 45px">
                    <div id="Attr" class="anchor">
                        <el-collapse-item title="属性" name="1">
                            <div>
                                <div class="header">
                                    <span>标识</span>
                                </div>
                                <el-form label-position="right" label-width="250px">
                                    <el-form-item label="物资名称">
                                        <el-input v-model="resGeneralForm.goodName"
                                                  placeholder="物资名称"></el-input>
                                    </el-form-item>
                                    <el-form-item label="身份识别码">
                                        <el-input v-model="resGeneralForm.localId" placeholder="身份识别码"></el-input>
                                    </el-form-item>
                                    <el-form-item label="物资类型">
                                        <el-select v-model="resGeneralForm.type" placeholder="物资类型">
                                            <el-option value="电脑整机">电脑整机</el-option>
                                            <el-option value="大型家电">大型家电</el-option>
                                            <el-option value="网络产品">网络产品</el-option>
                                            <el-option value="厨房电器">厨房电器</el-option>
                                            <el-option value="电脑配件">电脑配件</el-option>
                                            <el-option value="五金装饰">五金装饰</el-option>
                                            <el-option value="摄影摄像">摄影摄像</el-option>
                                            <el-option value="健康卫生">健康卫生</el-option>
                                            <el-option value="数码配件">数码配件</el-option>
                                            <el-option value="通信器材 ">通信器材</el-option>
                                            <el-option value="办公设备">办公设备</el-option>
                                            <el-option value="家具">家具</el-option>
                                            <el-option value="文具耗材">文具耗材</el-option>
                                            <el-option value="生活电器 ">生活电器</el-option>
                                            <el-option value="生活用品">生活用品</el-option>
                                            <el-option value="汽车用品">汽车用品</el-option>
                                            <el-option value="文体器材 ">文体器材</el-option>
                                            <el-option value="学习书籍">学习书籍</el-option>
                                            <el-option value="粮油食品 ">粮油食品</el-option>
                                            <el-option value="工程建材">工程建材</el-option>
                                            <el-option value="医疗卫生">医疗卫生</el-option>
                                            <el-option value="油品">油品</el-option>
                                            <el-option value="军队服装">军队服装</el-option>
                                            <el-option value="交通工具">交通工具</el-option>
                                            <el-option value="其他">其他</el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="关键字">
                                        <el-input v-model="resGeneralForm.keywords" placeholder="关键字"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div>
                                <div class="header">
                                    <span>特征</span>
                                </div>
                                <el-form label-position="right" label-width="250px">
                                    <el-form-item label="物资规格">
                                        <el-input v-model="resGeneralForm.norms" placeholder="物资规格"></el-input>
                                    </el-form-item>
                                    <el-form-item label="外观">
                                        <el-input v-model="resGeneralForm.appearance" placeholder="外观"></el-input>
                                    </el-form-item>
                                    <el-form-item label="生产商名称">
                                        <el-input v-model="resGeneralForm.producerName" placeholder="生产商名称"></el-input>
                                    </el-form-item>
                                    <el-form-item label="生产日期">
                                        <el-date-picker v-model="resGeneralForm.produceTime" type="date"
                                                        placeholder="选择生产日期"
                                                        format="yyyy年MM月dd日"
                                                        value-format="yyyy-MM-dd"></el-date-picker>
                                    </el-form-item>
                                    <el-form-item label="失效日期">
                                        <el-date-picker v-model="resGeneralForm.validTime" type="date"
                                                        placeholder="选择失效日期"
                                                        format="yyyy年MM月dd日"
                                                        value-format="yyyy-MM-dd"></el-date-picker>
                                    </el-form-item>
                                    <div class="sub-form">
                                        <div class="header">
                                            <span>环境特征</span>
                                        </div>
                                        <el-form label-position="right" label-width="250px">
                                            <el-form-item label="安全条件">
                                                <el-input v-model="resGeneralForm.safetyCondition"
                                                          placeholder="安全条件"></el-input>
                                            </el-form-item>
                                            <el-form-item label="运载尺寸">
                                                <el-input v-model="resGeneralForm.carrierSize"
                                                          placeholder="运载尺寸"></el-input>
                                            </el-form-item>
                                            <el-form-item label="温度条件">
                                                <el-input v-model="resGeneralForm.temperature"
                                                          placeholder="温度条件"></el-input>
                                            </el-form-item>
                                            <el-form-item label="湿度条件">
                                                <el-input v-model="resGeneralForm.humidity"
                                                          placeholder="湿度条件"></el-input>
                                            </el-form-item>
                                            <el-form-item label="其他条件">
                                                <el-input v-model="resGeneralForm.otherCondition"
                                                          placeholder="其他条件"></el-input>
                                            </el-form-item>
                                        </el-form>
                                    </div>
                                </el-form>

                            </div>

                        </el-collapse-item>
                    </div>
                    <div id="Pos" class="anchor">
                        <el-collapse-item title="位置" name="2">
                            <div name="2">
                                <div class="header">
                                    <span>绝对位置</span>
                                </div>
                                <el-form label-position="right" label-width="250px">
                                    <el-form-item label="经度">
                                        <el-input v-model="resGeneralForm.longitude" placeholder="经度"></el-input>
                                    </el-form-item>
                                    <el-form-item label="纬度">
                                        <el-input v-model="resGeneralForm.latitude" placeholder="纬度"></el-input>
                                    </el-form-item>
                                    <el-form-item label="海拔">
                                        <el-input v-model="resGeneralForm.altitude" placeholder="海拔"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div>
                                <div class="header">
                                    <span>相对位置</span>
                                </div>
                                <el-form label-position="right" label-width="250px">
                                    <el-form-item label="所在仓库">
                                        <el-select v-model="resGeneralForm.warehouseId" :placeholder="(resGeneralForm.country===undefined||resGeneralForm.province===undefined)?warehouseChoiceMsg:'请选择仓库'"
                                                   :disabled="resGeneralForm.country===undefined||resGeneralForm.province===undefined">
                                            <el-option v-for="warehouse in warehouseChoice" :label="warehouse.warehouseName" :value="warehouse.warehouseId">{{warehouse.warehouseName}}</el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-form>
                                <div class="sub-form">
                                    <div class="header">
                                        <span>行政位置</span>
                                    </div>
                                    <el-form label-position="right" label-width="250px">
                                        <el-form-item label="国家">
                                            <el-select placeholder="国家" v-model="resGeneralForm.country" @change="handleCountryChange">
                                                <el-option label="中国" :value="1">中国</el-option>
                                                <el-option label="其他" :value="2">其他</el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="战区">
                                            <el-select placeholder="战区" v-model="resGeneralForm.area">
                                                <el-option label="东部" value="东部">东部</el-option>
                                                <el-option label="西部" value="西部">西部</el-option>
                                                <el-option label="南部" value="南部">南部</el-option>
                                                <el-option label="北部" value="北部">北部</el-option>
                                                <el-option label="中部" value="中部">中部</el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="省/市/区">
                                            <el-cascader placeholder="省/市/区" :options="areaData"
                                                         v-model="selectedLocations" @change="handleLocationChange"
                                                         size="large"></el-cascader>
                                        </el-form-item>
                                        <el-form-item label="详细地址">
                                            <el-input placeholder="详细地址"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </div>
                        </el-collapse-item>
                    </div>
                    <div id="State" class="anchor">
                        <el-collapse-item title="状态" name="3" id="State">
                            <div class="header">
                                <span>权属</span>
                            </div>
                            <el-form label-position="right" label-width="250px">
                                <el-form-item label="所属部门">
                                    <el-select placeholder="所属部门" v-model="resGeneralForm.department">
                                        <el-option value="">不限</el-option>
                                        <el-option value="陆军部001部队后勤保障中心">陆军部001部队后勤保障中心</el-option>
                                        <el-option value="海军部054部队后勤保障中心">海军部054部队后勤保障中心</el-option>
                                        <el-option value="空军部003部队后勤保障中心">空军部003部队后勤保障中心</el-option>
                                        <el-option value="火箭军部015部队后勤保障中心">火箭军部015部队后勤保障中心</el-option>
                                        <el-option value="战略支援部队总部后勤保障中心">战略支援部队总部后勤保障中心</el-option>
                                        <el-option value="陆军部028部队后勤保障中心">陆军部028部队后勤保障中心</el-option>
                                        <el-option value="DKY商厦集团货品部">DKY商厦集团货品部</el-option>
                                        <el-option value="XKY医院材料管理处">XKY医院材料管理处</el-option>
                                        <el-option value="HKWS集团产品部">HKWS集团产品部</el-option>
                                        <el-option value="JSKJ有限公司保障部">JSKJ有限公司保障部</el-option>
                                        <el-option value="HDDN厂货品部">HDDN厂货品部</el-option>
                                        <el-option value="SCDZ油品有限公司仓储部">SCDZ油品有限公司仓储部</el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="所属期限">
                                    <el-date-picker v-model="resGeneralForm.limitTime" type="date"
                                                    placeholder="选择生产日期"
                                                    format="yyyy年MM月dd日"
                                                    value-format="yyyy-MM-dd"></el-date-picker>
                                </el-form-item>
                                <el-form-item label="负责人员">
                                    <el-input placeholder="负责人员" v-model="resGeneralForm.official"></el-input>
                                </el-form-item>
                                <el-form-item label="联系电话">
                                    <el-input placeholder="联系电话" v-model="resGeneralForm.phone"></el-input>
                                </el-form-item>
                            </el-form>
                            <div>
                                <div class="header">
                                    <span>过程</span>
                                </div>
                                <el-form label-position="right" label-width="250px">
                                    <el-form-item label="管理">
                                        <el-select v-model="resGeneralForm.isManaged" placeholder="请选择是否在监控中">
                                            <el-option label="在监控中" :value="1">在监控中</el-option>
                                            <el-option label="不在监控中" :value="0">不在监控中</el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-form>
                                <div class="sub-form">
                                    <div class="header">
                                        <span>状态&途径</span>
                                    </div>

                                    <el-form label-position="right" label-width="250px">
                                        <el-form-item label="状态名称">
                                            <el-select v-model="resGeneralForm.stateId" placeholder="请选择状态名称">
                                                <el-option label="占用" :value="1">占用</el-option>
                                                <el-option label="调配" :value="2">调配</el-option>
                                                <el-option label="使用" :value="3">使用</el-option>
                                                <el-option label="空闲" :value="4">空闲</el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="状态类别">
                                            <el-select v-model="resGeneralForm.stateType" placeholder="请选择状态类别">
                                                <el-option label="正常" :value="1">正常</el-option>
                                                <el-option label="故障" :value="0">故障</el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="状态值">
                                            <el-input placeholder="0%~100%"
                                                      v-model="resGeneralForm.stateValue"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </div>
                        </el-collapse-item>
                    </div>
                    <div id="Cap" class="anchor">
                        <el-collapse-item title="能力" name="4" id="Cap">
                            <div v-for="useCap in useCapabilityList" name="4">
                                <div class="header">
                                <span>使用能力
                                <div class="adel">
                                    <el-button type="primary" size="mini"
                                               @click="handleAddUseCapability">+ 添加</el-button>
                                    <el-button type="danger" size="mini"
                                               @click="()=>{handleDeleteUseCapability(useCapabilityList.indexOf(useCap))}">- 删除</el-button>
                                </div>
                                </span>
                                </div>
                                <el-form label-position="right" label-width="250px">
                                    <el-form-item label="能力类型">
                                        <el-select placeholder="请选择能力类型" v-model="useCap.smallType">
                                            <el-option value="">不限</el-option>
                                            <el-option value="补给">补给</el-option>
                                            <el-option value="维修">维修</el-option>
                                            <el-option value="土木">土木</el-option>
                                            <el-option value="卫勤">卫勤</el-option>
                                            <el-option value="其他">其他</el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="能力描述">
                                        <el-input placeholder="能力描述" v-model="useCap.detail"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div v-for="garCap in guaranteeCapabilityList">
                                <div class="header">
                                <span>保障能力
                                <div class="adel">
                                    <el-button type="primary" size="mini"
                                               @click="handleAddGuaranteeCapability">+ 添加</el-button>
                                    <el-button type="danger" size="mini"
                                               @click="()=>{handleDeleteGuaranteeCapability(guaranteeCapabilityList.indexOf(garCap))}">- 删除</el-button>
                                </div>
                                </span>
                                </div>
                                <el-form label-position="right" label-width="250px">
                                    <el-form-item label="能力类型">
                                        <el-select placeholder="请选择能力类型" v-model="garCap.smallType">
                                            <el-option value="">不限</el-option>
                                            <el-option value="采购">采购</el-option>
                                            <el-option value="配送">配送</el-option>
                                            <el-option value="维持">维持</el-option>
                                            <el-option value="处理">处理</el-option>
                                            <el-option value="其他">其他</el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="能力描述">
                                        <el-input placeholder="能力描述" v-model="garCap.detail"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-collapse-item>
                    </div>
                </el-collapse>
                <p style="text-align: right">
                    <el-button type="primary" @click="commitRegister">保存并返回</el-button>
                    <el-button @click="cancelRegister">放弃并返回</el-button>
                </p>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<!-- 这是 JS 代码，一定要放在 <body> 后面 -->
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    var ChinaAreaData = require("element-china-area-data").regionData;
    var warehouseChoice=[];
    var post = require("/mods/backend");

    // function powerGeneral() {
    //     this.department = "";
    //     this.limitTime = "";
    //     this.official = "";
    //     this.phone = "";
    // }

    function capGeneral() {
        this.smallType = "";
        this.detail = "";
    }

    // var powerGeneralList = [new powerGeneral()];
    var useCapGeneralList = [new capGeneral()];
    var garCapGeneralList = [new capGeneral()];
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                warehouseChoiceMsg:"请先选择国家和省市",
                warehouseChoiceDisable:true,
                menu: [{val: '属性', id: 'Attr'}, {val: '位置', id: 'Pos'}, {val: '状态', id: 'State'}, {
                    val: '能力',
                    id: 'Cap'
                }],
                areaData: ChinaAreaData,
                warehouseChoice:warehouseChoice,
                selectedLocations: [],
                activeNames: ['1', '2', '3', '4'],
                // powerBelongList: powerGeneralList,
                useCapabilityList: useCapGeneralList,
                guaranteeCapabilityList: garCapGeneralList,
                resGeneralForm: {
                    goodName: undefined,
                    localId: undefined,
                    type: undefined,
                    keywords: undefined,
                    norms: undefined,
                    appearance: undefined,
                    producerName: undefined,
                    produceTime: undefined,
                    validTime: undefined,
                    safetyCondition: undefined,
                    carrierSize: undefined,
                    temperature: undefined,
                    humidity: undefined,
                    otherCondition: undefined,
                    longitude: undefined,
                    latitude: undefined,
                    altitude: undefined,
                    warehouseId: undefined,
                    country: undefined,
                    area: undefined,
                    province: undefined,
                    city: undefined,
                    county: undefined,
                    detailLocation: undefined,
                    department:undefined,
                    limitTime:undefined,
                    official:undefined,
                    phone:undefined,
                    stateId: undefined,
                    stateType: undefined,
                    stateValue: undefined,
                    isManaged: undefined,
                }
            }
        },
        mounted:function(){
            post('/common/allwarehouse',{},(data)=>{
                for(var warehouse of data){
                    warehouseChoice.push(warehouse);
                }
            });
        },
        methods: {
            handleLocationChange(){
                while(warehouseChoice[0]!==undefined){
                    warehouseChoice.pop();
                }
                var country=app.resGeneralForm.country;
                var [province,city,county]=[...app.selectedLocations];
                [app.resGeneralForm['province'],app.resGeneralForm['city'],app.resGeneralForm['county']]=[...app.selectedLocations];
                post('/common/allwarehouse',{
                    country:country,
                    province:province,
                    city:city
                },(data)=>{
                    var isChange=true;
                    for(var warehouse of data){
                        warehouseChoice.push(warehouse);
                        if(app.resGeneralForm.warehouseId===warehouse.warehouseId){
                            isChange=false;
                        }
                    }
                    if(isChange){
                        app.resGeneralForm.warehouseId="";
                    }
                });
            },
            handleCountryChange(){
                while(warehouseChoice[0]!==undefined){
                    warehouseChoice.pop();
                }
                var country=app.resGeneralForm.country;
                var [province,city,county]=[...app.selectedLocations];
                [app.resGeneralForm['province'],app.resGeneralForm['city'],app.resGeneralForm['county']]=[...app.selectedLocations];
                post('/common/allwarehouse',{
                    country:country,
                    province:province,
                    city:city
                },(data)=>{
                    var isChange=true;
                    for(var warehouse of data){
                        warehouseChoice.push(warehouse);
                        if(app.resGeneralForm.warehouseId===warehouse.warehouseId){
                            isChange=false;
                        }
                    }
                    if(isChange){
                        app.resGeneralForm.warehouseId="";
                    }
                });
            },
            handleCollapse(val) {
                app.activeNames = val;
            },
            // handleAddPowerBelong() {
            //     app.$message({
            //         type: 'warning',
            //         message: '这个功能暂时不要'
            //     })
            //     //app.powerBelongList.push({department: "", limitTime: "", official: "", phone: ""});
            // },
            handleAddUseCapability() {
                app.useCapabilityList.push({smallType: "", detail: ""});
            },
            handleAddGuaranteeCapability() {
                app.guaranteeCapabilityList.push({smallType: "", detail: ""});
            },
            handleDeletePowerBelong(index) {
                if (app.powerBelongList.length <= 1) {
                    app.$message.error('至少需要保留一个权属');
                    return;
                }
                app.powerBelongList.splice(index, 1);
            },
            handleDeleteUseCapability(index) {
                if (app.useCapabilityList.length <= 1) {
                    app.$message.error('至少需要保留一个使用能力');
                    return;
                }
                app.useCapabilityList.splice(index, 1);
            },
            handleDeleteGuaranteeCapability(index) {
                if (app.guaranteeCapabilityList.length <= 1) {
                    app.$message.error('至少需要保留一个保障能力');
                    return;
                }
                app.guaranteeCapabilityList.splice(index, 1);
            },
            commitRegister() {
                post('/depot/reg_newgood',app.resGeneralForm,(data,err)=>{
                    if(err){
                        console.log(err);
                        return;
                    }
                    var goodId=data.goodId;
                    localStorage.setItem('goodId',goodId);
                    for(let useAbility of app.useCapabilityList){
                        ((p)=>{
                            post('/depot/add_newability',{
                                goodId:goodId,
                                bigType:"使用能力",
                                smallType:p.smallType,
                                detail:p.detail
                            },(data,err)=>{
                                if(err){
                                    console.log(err);
                                    return;
                                }
                            })
                        })(useAbility);
                    }
                    for(let garAbility of app.guaranteeCapabilityList){
                        ((p)=>{
                            post('/depot/add_newability',{
                                goodId:goodId,
                                bigType:"保障能力",
                                smallType:p.smallType,
                                detail:p.detail
                            },(data,err)=>{
                                if(err){
                                    console.log(err);
                                    return;
                                }
                            })
                        })(garAbility);
                    }
                    window.location.href="NewResImport.html";
                })
            },
            cancelRegister(){
                window.location.href="NewResImport.html";
            }
        }
    });
</script>
</html>