<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物资调配申请</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .el-form-item{
            margin:0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-form>
            <!--需求信息-->
            <hr>
            <el-form :model="smartLookup">
                <el-form :inline="true">
                    <el-form-item label="物资名称：" size="mini"><el-input v-model="smartLookup.goodName"></el-input></el-form-item>
                    <el-form-item label="物资能力：" size="mini"><el-input v-model="smartLookup.goodAbility"></el-input></el-form-item>
                    <el-form-item label="物资数量：" size="mini"><el-input v-model="smartLookup.goodNumber"></el-input></el-form-item>
                </el-form>
                <el-form :inline="true">
                    <el-form-item label="需求类型：" size="mini"><el-input></el-input></el-form-item>
                    <el-form-item label="期望时间成本" size="mini"><el-input></el-input></el-form-item>
                </el-form>
                <el-form :inline="true">
                    <el-form-item label="物资品牌：" size="mini"><el-input v-model="smartLookup.brand"></el-input></el-form-item>
                    <el-form-item label="有效期：" size="mini"><el-input v-model="smartLookup.validity"></el-input></el-form-item><span>以上</span>
                </el-form>
                <el-form><el-button size="mini" type="primary" @click="onSubmit">智能推荐</el-button></el-form>
            </el-form>
            <!--查询结果-->
            <el-form>
                <hr>
                <el-table :data="smartResultTable"><!--接口名瞎起的 文档出来了再改-->
                    <el-table-column label="序列" type="index" :index="indexMethod"></el-table-column>
                    <el-table-column prop="goodName" label="物资名称"></el-table-column>
                    <el-table-column prop="startWarehouseName" label="所在仓库"></el-table-column>
                    <el-table-column prop="number" label="库存数量"></el-table-column>
                    <el-table-column prop="length" label="运输路线长度" width="110"></el-table-column>
                    <el-table-column prop="transport" label="运输方式"></el-table-column>
                    <el-table-column prop="time" label="运输时长"></el-table-column>
                    <el-table-column prop="money" label="运输费用"></el-table-column>
                    <el-table-column prop="state" label="状态"></el-table-column>
                    <el-table-column label="" width="200">
                        <template slot-scope="scope">
                            <el-button size="mini">物资详情</el-button>
                            <el-button size="mini">申请调配</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="margin-top:10px">
                    <el-button size="mini">查看申请表单</el-button>
                </div>
                <hr>
            </el-form>
            <!--分页栏-->
            <el-form label-position="top">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page.sync="currentPage"
                        :page-size="6"
                        layout="total, prev, pager, next"
                        :total="100">
                </el-pagination>
            </el-form>

        </el-form>
    </el-container>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: function(){
            return{
                smartLookup:{
                    goodName:'',
                    goodAbility:'',
                    goodNumber:'',
                    brand:'',/*物资品牌*/
                    validity:''/*有效期*/
                },
                smartResultTable:[{
                    goodName:'',
                    startWarehouseName:'',
                    number:'',
                    length:'',
                    transport:'',
                    time:'',
                    money:'',
                    state:''
                }],
                currentPage: 5
            }
        },
        methods: {
            onSubmit(){
                console.log('submit!');
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            }
        }
    });
</script>

</html>