<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        body {
            background: url(res/bg-air.jpg) center top;
            background-size: 100%;
            margin:0;
        }

        .full-fill {
            width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row v-loading.fullscreen.lock="loading" element-loading-text="正在提交" element-loading-background="rgba(0,0,0,0.7)">
        <el-col :span="14" :offset="5">
            <el-card>
                <transition name="el-fade-in">
                    <div v-show="state===0">
                        <h2>用户注册</h2>
                        <el-form ref="form1" :rules="rules1" :model="form1" label-position="right" label-width="100px">
                            <el-form-item label="证件类型" prop="IDType" required>
                                <el-select v-model="form1.IDType" placeholder="请选择">
                                    <el-option label="公民身份证" value="1"></el-option>
                                    <el-option label="军官证" value="2"></el-option>
                                    <el-option label="护照" value="3"></el-option>
                                </el-select>
                            </el-form-item>
                            <transition name="el-zoom-in-top">
                                <el-form-item v-show="form1.IDType != ''" label="证件号码" prop="IDNumber" required>
                                    <el-input v-model="form1.IDNumber"></el-input>
                                </el-form-item>
                            </transition>
                            <el-form-item label="登录用户名" prop="username" required>
                                <el-input v-model="form1.username"></el-input>
                            </el-form-item>
                            <el-form-item label="登录密码" prop="initPassword" required>
                                <el-input type="password" v-model="form1.initPassword" auto-complete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码" prop="confirmedPassword" required>
                                <el-input type="password" v-model="form1.confirmedPassword" auto-complete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="用户姓名" prop="realName" required>
                                <el-input v-model="form1.realName"></el-input>
                            </el-form-item>
                            <el-form-item label="单位名称" prop="companyName" required>
                                <el-input v-model="form1.companyName"></el-input>
                            </el-form-item>
                            <el-form-item label="职务" prop="title">
                                <el-input v-model="form1.title"></el-input>
                            </el-form-item>
                            <el-form-item label="员工ID" prop="employeeId" required>
                                <el-input v-model="form1.employeeId"></el-input>
                            </el-form-item>
                            <el-form-item label="手机号码" prop="phoneNumber" required>
                                <el-input v-model="form1.phoneNumber"></el-input>
                            </el-form-item>
                            <el-form-item label="固定电话">
                                <el-input v-model="form1.tel"></el-input>
                            </el-form-item>
                            <el-form-item label="电子邮箱" prop="email" required>
                                <el-input v-model="form1.email"></el-input>
                            </el-form-item>
                            <el-form-item label="联系地址" prop="address" required>
                                <el-input v-model="form1.address"></el-input>
                            </el-form-item>
                            <el-form-item label="用户类型" prop="role" required>
                                <el-select v-model="form1.role">
                                    <el-option label="普通用户" value="user"></el-option>
                                    <el-option label="仓库管理员" value="manager"></el-option>
                                </el-select>
                            </el-form-item>
                            <transition name="el-zoom-in-top">
                                <div v-if="form1.role==='manager'">
                                    <el-form-item label="仓库id" prop="warehouseId" required>
                                        <el-input v-model="form1.warehouseId"></el-input>
                                    </el-form-item>
                                </div>
                            </transition>
                            <el-form-item>
                                <p style="text-align: right">
                                    <el-button type="primary" @click="nextStep('form1')">下一步</el-button>
                                    <a href="login.html">
                                        <el-button>取消</el-button>
                                    </a>
                                </p>
                            </el-form-item>
                        </el-form>
                    </div>
                </transition>
                <transition name="el-fade-in">
                    <div v-show="state===1">
                        <h2>用户信息</h2>
                        <el-table :data="inputDoubleCheck" class="">
                            <el-table-column prop="key"></el-table-column>
                            <el-table-column prop="value"></el-table-column>
                        </el-table>
                        <p style="text-align: right">
                            <el-button type="primary" @click="register">注册</el-button>
                            <el-button @click="state=0">取消</el-button>
                        </p>
                    </div>
                </transition>
            </el-card>
        </el-col>
    </el-row>
    <div id="step-2">
    </div>
    <div id="step-3">
    </div>
    <el-button @click="testForm">自动填充</el-button>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="res/dependencies.js"></script>
<script>
    var $ = require('jquery');

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                state: 0,
                loading:false,
                form1: {
                    username: '',
                    initPassword: '',
                    confirmedPassword:'',
                    role: '',
                    realName: '',
                    IDType: '',
                    IDNumber: '',
                    companyName: '',
                    title: '',
                    phoneNumber: '',
                    tel: '',
                    email: '',
                    address: '',
                    warehouseId: '',
                    employeeId: '',
                },
                rules1: {
                    IDType: [
                        {required: true, message: '请选择证件类型'}
                    ],
                    IDNumber: [
                        {required: true, message: '请输入证件号码'},
                        {
                            validator:(rule, value, callback)=>{
                                var idChecker = require('verify-identity-card');

                                if (this.form1.IDType === '1' && !idChecker(value)) {
                                    callback(new Error("请输入正确的身份证号"));
                                } else {
                                    callback();
                                }
                            },
                            trigger: 'blur'
                        }
                    ],
                    username: [
                        {required: true, message: '请输入用户名'}
                    ],
                    initPassword:[
                        {required:true,message:'请输入密码'},
                        {
                            validator:(rule,value,callback)=>{
                                if(String(value).length<6){
                                    callback(new Error('密码长度不能少于6位'));
                                }else{
                                    callback();
                                }
                            },
                            trigger:'blur'
                        }
                    ],
                    confirmedPassword:[
                        {required:true,message:'请再次输入密码'},
                        {
                            validator:(rule,value,callback)=>{
                                if(value!==this.form1.initPassword){
                                    callback('两次密码不一致');
                                }else{
                                    callback();
                                }
                            },
                            trigger:'blur'
                        }
                    ],
                    realName: [
                        {required: true, message: '请输入用户姓名'}
                    ],
                    companyName: [
                        {required: true, message: '请输入单位名称'}
                    ],
                    //title: [
                    //    {required: true, message: '请输入职务'}
                    //],
                    employeeId: [
                        {required: true, message: '请输入员工ID'},
                        {pattern: /^\d+$/, message: '请输入正确的员工ID'}
                    ],
                    phoneNumber: [
                        {required: true, message: '请输入手机号码'},
                        {pattern: /^\d{11}$/, message: '请输入正确的手机号码'}
                    ],
                    email: [
                        {required: true, message: '请输入电子邮箱'},
                        {
                            pattern: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                            message: '请输入正确的电子邮箱'
                        }
                    ],
                    address: [
                        {required: true, message: '请输入联系地址'}
                    ],
                    role: [
                        {required: true, message: '请选择用户类型'}
                    ],
                    warehouseId: [
                        {required: true, message: '请输入仓库id'}
                    ]
                }
            }
        },
        methods: {
            previousStep: function () {
            },
            nextStep: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.state = 1;
                    } else {
                        this.$alert("信息错误，请重新填写。");
                        return false;
                    }
                })
            },
            register: function () {
                this.loading=true;
                $.ajax({
                    type:'post',
                    url:'http://10.112.128.63:8080/dispatch/register',
                    headers:{'Content-Type':'application/json'},
                    data:JSON.stringify({
                        "username": this.form1.username,
                        "password": this.form1.confirmedPassword,
                        "role":this.form1.role,
                        "realName":this.form1.realName,
                        "IDType":this.form1.IDType,
                        "IDNumber":this.form1.IDNumber,
                        "companyName":this.form1.companyName,
                        "title":this.form1.title,
                        "phoneNumber":this.form1.phoneNumber,
                        "tel":this.form1.tel,
                        "email":this.form1.email,
                        "address":this.form1.address,
                        "warehouseId":this.form1.warehouseId,
                        "employeeId":this.form1.employeeId
                    }),
                    beforeSend:function(){
                        console.log('Prepared');
                    },
                    success:(data)=>{
                        this.loading=false;
                        if(data.result===1000){
                            this.$alert('请耐心等待管理员审核，若审核通过系统将自动为您发送提示邮件', {
                                confirmButtonText: '返回首页',
                                callback: action => {
                                    this.$message({
                                        type: 'info',
                                        message: `action:${action}`
                                    });
                                    window.location.href = "./login.html";
                                }
                            });
                        }else{
                            this.$alert('网络错误，请稍后重试');
                        }
                    },
                    complete:()=>{
                        this.loading=false;
                        console.log('Done');
                    },
                    error:()=>{
                        this.loading=false;
                        this.$alert('网络错误，请稍后重试');
                    }
                });
            },
            testForm:function(){
                with(this.form1){
                    username="liadrin";
                    initPassword="123456";
                    confirmedPassword="123456";
                    role="user";
                    realName="蔡宇昂";
                    IDType="2";
                    IDNumber="123456";
                    companyName='bupt';
                    title='student';
                    phoneNumber="13120171889";
                    tel="66666666";
                    email="435438602@qq.com";
                    address="bupt";
                    employeeId="2333";
                }
            }
        },
        computed: {
            inputDoubleCheck: function () {
                var renderData = {
                    '证件类型': {
                        '': '',
                        '1': '公民身份证',
                        '2': '军官证',
                        '3': '护照'
                    }[this.form1.IDType],
                    '证件号码':this.form1.IDNumber,
                    '登录用户名':this.form1.username,
                    '用户姓名': this.form1.realName,
                    '单位名称': this.form1.companyName,
                    '职务': this.form1.title,
                    '员工ID': this.form1.employeeId,
                    '手机号码': this.form1.phoneNumber,
                    '固定电话': this.form1.tel,
                    '电子邮箱': this.form1.email,
                    '联系地址': this.form1.address,
                    '仓库id': this.form1.warehouseId,
                    '仓库地址': this.form1.repoAddress,
                    '仓库经纬度': this.form1.repoCoord
                };

                var result = [];
                if (this.form1.role == 'user') {
                    for (var i in renderData) {
                        if (!i.includes('仓库')) {
                            result.push({key: i, value: renderData[i]});
                        }
                    }
                } else {
                    for (var i in renderData) {
                        result.push({key: i, value: renderData[i]});
                    }
                }
                return result;
            }
        }
    });
</script>
</html>