<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 120px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        #search .el-input {
            width: 180px;
        }

        span.no-wrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>

<div id="userAuth">
    <el-form id="search" :inline="true" ref="queryParams" label-position="right" label-with="80px" :model="queryParams"
             v-loading.fullscreen="initializing" element-loading-text="正在获取数据"
             element-loading-background="rgba(0,0,0,0.7)">
        <el-form-item label="用户名" v-model="queryParams.username">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="姓名" v-model="queryParams.realName">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="证件号码" v-model="queryParams.IDNumber">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="手机号码" v-model="queryParams.phoneNumber">
            <el-input></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary">查找</el-button>
            <el-button>返回</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="results">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="员工ID">
                        <span>{{props.row.employeeId}}</span>
                    </el-form-item>
                    <el-form-item label="职务">
                        <span>{{props.row.title}}</span>
                    </el-form-item>
                    <el-form-item label="手机号码">
                        <span>{{props.row.phoneNumber}}</span>
                    </el-form-item>
                    <el-form-item label="固定电话">
                        <span>{{props.row.tel}}</span>
                    </el-form-item>
                    <el-form-item label="电子邮箱">
                        <span>{{props.row.email}}</span>
                    </el-form-item>
                    <el-form-item label="联系地址">
                        <span>{{props.row.address}}</span>
                    </el-form-item>
                    <el-form-item label="所管仓库编号">
                        <span>{{props.row.repoId}}</span>
                    </el-form-item>
                    <el-form-item label="所管仓库地址">
                        <span>{{props.row.repoAddr}}</span>
                    </el-form-item>
                    <el-form-item label="所管仓库经纬度">
                        <span>{{props.row.repoCoord}}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column prop="realName" label="姓名" width="75px"></el-table-column>
        <el-table-column prop="username" label="用户名" width="125px"></el-table-column>
        <el-table-column prop="role" label="用户类型" width="125px"></el-table-column>
        <el-table-column prop="IDType" label="证件类型" width="125px"></el-table-column>
        <el-table-column prop="IDNumber" label="证件号码" width="200px"></el-table-column>
        <el-table-column prop="companyName" label="单位名称" width="200px"></el-table-column>
        <el-table-column label="操作">
            <template slot-scope="props">
                <el-button type="primary" size="mini" @click="()=>{changePassword(props.row)}">重置密码</el-button>
                <el-button size="mini" @click="()=>{
                    props.row.dialogVisible=true;
                    editedForm=props.row
                }">修改信息
                </el-button>
                <el-button type="danger" size="mini" @click="()=>{deleteUser(props.row)}">删除用户</el-button>
                <el-dialog :visible.sync="props.row.dialogVisible" v-loading.fullscreen="loading"
                           element-loading-text="正在提交" element-loading-background="rgba(0,0,0,0.7)">
                    <el-form ref="editedForm" label-position="right" label-width="120px" :rules="editRule"
                             :model="editedForm">
                        <el-form-item label="用户名" prop="username">
                            <el-input v-model="editedForm.username" :value="props.row.username"
                                      :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="用户类型" prop="role" required>
                            <el-select v-model="editedForm.role">
                                <el-option label="普通用户" value="user"></el-option>
                                <el-option label="仓库管理员" value="manager"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="用户姓名" prop="realName">
                            <el-input v-model="editedForm.realName" :value="props.row.realName" required></el-input>
                        </el-form-item>
                        <el-form-item label="单位名称" prop="companyName" required>
                            <el-input v-model="editedForm.companyName"></el-input>
                        </el-form-item>
                        <el-form-item label="员工ID" prop="employeeId" required>
                            <el-input v-model="editedForm.employeeId"></el-input>
                        </el-form-item>
                        <el-form-item label="职务" prop="title">
                            <el-input v-model="editedForm.title" :value="props.row.title" required></el-input>
                        </el-form-item>
                        <el-form-item label="手机号码" prop="phoneNumber">
                            <el-input v-model="editedForm.phoneNumber" :value="props.row.phoneNumber"
                                      required></el-input>
                        </el-form-item>
                        <el-form-item label="固定电话">
                            <el-input v-model="editedForm.tel" :value="props.row.tel"></el-input>
                        </el-form-item>
                        <el-form-item label="电子邮箱">
                            <el-input v-model="editedForm.email" :value="props.row.email"></el-input>
                        </el-form-item>
                        <el-form-item label="联系地址">
                            <el-input v-model="editedForm.address" :value="props.row.address"></el-input>
                        </el-form-item>

                        <p style="text-align: right">
                            <span class="no-wrap">
                                <el-button type="primary" @click="confirmEdition('editedForm')">修改</el-button>
                                <el-button @click="props.row.dialogVisible=false">取消</el-button>
                            </span>
                        </p>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="lib/jquery.min.js"></script>
<script>
    var APIs = ['',];
    var userAuth = new Vue({
        el: '#userAuth',
        data: function () {

            //将所有用户GET到这里
            const item1 = {
                username: 'liadrinz',
                role: 'user',
                realName: '张三',
                IDType: '公民身份证',
                IDNumber: '110101200001010004',
                companyName: '北京邮电大学',
                title: '学生',
                phoneNumber: '18888888888',
                tel: '010-66666666',
                email: 'zhangsan@bupt.edu.cn',
                address: '北京市海淀区西土城路10号北京邮电大学',
                employeeId: '1234',
                repoId: null,
                repoAddr: null,
                repoCoord: null
            };

            const item2 = {
                username: 'emmmm',
                role: 'manager',
                realName: '李四',
                IDType: '公民身份证',
                IDNumber: '110101500001010008',
                companyName: '北京邮电大学',
                title: '学生',
                phoneNumber: '166666666666',
                tel: '010-88888888',
                email: 'lisi@bupt.edu.cn',
                address: '北京市海淀区西土城路10号北京邮电大学',
                employeeId: '1235',
                repoId: '1234',
                repoAddr: '北京市海淀区西土城路10号北京邮电大学教三楼233',
                repoCoord: null
            };

            item1.dialogVisible = false;
            item2.dialogVisible = false;

            return {
                loading: false,
                initializing: true,
                results: [item1, item2],
                queryParams: {
                    usertype: '',
                    username: '',
                    realName: '',
                    IDNumber: '',
                    company: ''
                },
                editedForm: {
                    username: '',
                    role: '',
                    realName: '',
                    IDType: '',
                    IDNumber: '',
                    companyName: '',
                    title: '',
                    phoneNumber: '',
                    tel: '',
                    email: '',
                    address: '',
                    employeeId: ''
                },
                editRule: {}
            }
        },
        mounted: function () {
            //从后端拉取数据
            $.ajax({
                type: 'get',
                url: 'http://10.112.128.63:8080/dispatch/user',
                success: (data, result, resultDesp) => {
                    if (data.result === 1000) {
                        console.log(data);
                        console.log(result);
                        console.log(resultDesp);
                        this.initializing = false;
                    } else {
                        this.$alert('数据拉取失败');
                    }
                    this.initializing = false;
                },
                error: (result, resultDesp) => {
                    console.log(result);
                    console.log(resultDesp);
                    this.$alert('数据拉取失败');
                    this.initializing = false;
                }
            });
        },
        methods: {
            search: () => {
                $.ajax({
                    method: 'get',
                    url: '/user',
                    data: JSON.stringify({
                        "username": this.queryParams.username,
                        "realName": this.queryParams.realName,
                        "IDNumber": this.queryParams.IDNumber,
                        "phoneNumber": this.queryParams.phoneNumber,
                        "employeeId": this.queryParams.employeeId
                    }),
                    success: (data) => {
                        for (var item in data.data) {
                            this.results.push(item);
                        }
                    },
                    error: () => {
                        this.$alert('查找失败，请稍后重试');
                    }
                })
            },
            confirmEdition: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        $.ajax({
                            type: 'post',
                            url: 'http://10.112.128.63:8080/dispatch/user/1/change',//TODO: set correct URL
                            data: {},
                            success: (data) => {
                                if (data.result === 1000) {
                                    this.$alert('修改成功');
                                    this.dialogVisible = false;
                                } else {
                                    this.$alert('修改失败');
                                }
                                this.loading = false;
                            },
                            error: () => {
                                this.$alert('修改失败');
                                this.loading = false;
                                return true;
                            }
                        })
                    } else {
                        this.$alert('信息错误，请重新填写');
                        return false;
                    }
                })
            }
        }
    });
</script>
</html>