<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户审核</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>

<div id="userAuth">
    <el-form :inline="true" ref="queryParams" label-position="right" label-with="80px" :model="queryParams">
        <el-form-item label="用户名" v-model="queryParams.username">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="姓名" v-model="queryParams.realName">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="证件号码" v-model="queryParams.IDNumber">
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="手机号码" v-model="queryParams.phoneNumber">
            <el-input></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary">查找</el-button>
            <el-button>返回</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="results">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="职务">
                        <span>{{props.row.title}}</span>
                    </el-form-item>
                    <el-form-item label="手机号码">
                        <span>{{props.row.phoneNumber}}</span>
                    </el-form-item>
                    <el-form-item label="固定电话">
                        <span>{{props.row.tel}}</span>
                    </el-form-item>
                    <el-form-item label="电子邮箱">
                        <span>{{props.row.email}}</span>
                    </el-form-item>
                    <el-form-item label="联系地址">
                        <span>{{props.row.address}}</span>
                    </el-form-item>
                    <el-form-item label="仓库编号">
                        <span>{{props.row.repoId}}</span>
                    </el-form-item>
                    <el-form-item label="仓库地址">
                        <span>{{props.row.repoAddr}}</span>
                    </el-form-item>
                    <el-form-item label="仓库经纬度">
                        <span>{{props.row.repoCoord}}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column prop="realName" label="姓名" width="125px"></el-table-column>
        <el-table-column prop="username" label="用户名" width="175px"></el-table-column>
        <el-table-column prop="role" label="用户类型" width="175px"></el-table-column>
        <el-table-column prop="IDType" label="证件类型" width="175px"></el-table-column>
        <el-table-column prop="IDNumber" label="证件号码" width="250px"></el-table-column>
        <el-table-column prop="companyName" label="单位名称" width="250px"></el-table-column>
        <el-table-column label="操作">
            <template slot-scope="props">
                <el-button type="primary" size="mini" @click="()=>{changePassword(props.row)}">修改密码</el-button>
                <el-button size="mini" @click="()=>{editInfo(props.row)}">修改信息</el-button>
                <el-button type="danger" size="mini" @click="()=>{delteUser(props.row)}">删除用户</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="lib/jquery.min.js"></script>
<script>
    var APIs = ['',];
    var userAuth = new Vue({
        el: '#userAuth',
        data: function () {

            //具体item从后端获取并处理
            const item1 = {
                username: 'liadrinz',
                role: '普通用户',
                realName: '张三',
                IDType: '公民身份证',
                IDNumber: '110101200001010004',
                companyName: '北京邮电大学',
                title: '学生',
                phoneNumber: '18888888888',
                tel: '010-66666666',
                email: 'zhangsan@bupt.edu.cn',
                address: '北京市海淀区西土城路10号北京邮电大学',
                repoId: null,
                repoAddr: null,
                repoCoord: null
            };

            const item2 = {
                username: 'emmmm',
                role: '仓库管理员',
                realName: '李四',
                IDType: '公民身份证',
                IDNumber: '110101500001010008',
                companyName: '北京邮电大学',
                title: '学生',
                phoneNumber: '166666666666',
                tel: '010-88888888',
                email: 'lisi@bupt.edu.cn',
                address: '北京市海淀区西土城路10号北京邮电大学',
                repoId: '1234',
                repoAddr: '北京市海淀区西土城路10号北京邮电大学教三楼233',
                repoCoord: null
            };


            return {
                results: [item1, item2],
                queryParams: {
                    usertype: '',
                    username: '',
                    realName: '',
                    IDNumber: '',
                    company: ''
                }
            }
        },
        methods: {
            search: () => {
                $.ajax({
                    method: 'get',
                    url: '/user',
                    data: {
                        userId: this.queryParams.IDNumber,
                        realName: this.queryParams.realName,
                        IDNumber: this.queryParams.documentId,
                        phoneNumber: this.queryParams.mobile,
                        employeeId: this.queryParams.staffId
                    },
                    success: (data,result,resultDesp) => {
                        for(var item in data){
                            this.results.push(item);
                        }
                    },
                    error: () => {
                        this.$alert('网络错误，请稍后重试');
                    }
                })
            }
        }
    });
</script>
</html>