<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出库登记</title>
    <link rel="stylesheet" href="lib/eleme-index.css">
    <style>
        .el-form-item{
            margin:0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-form>
        <hr>
        <!--查找-->
        <el-form :model="queryCondition">
            <el-form :inline="true">
                <el-form-item label="货品名称：" size="mini"><el-input v-model="queryCondition.huopinmingcheng"></el-input></el-form-item>
                <el-form-item label="供应商：" size="mini">
                    <el-select v-model="queryCondition.gongyingshang">
                        <el-option label="一" value="TB"></el-option>
                        <el-option label="二" value="JD"></el-option></el-select>
                </el-form-item>
            </el-form>
            <el-form :inline="true">
                <el-form-item label="货品编号：" size="mini"><el-input v-model="queryCondition.number"></el-input></el-form-item>
                <el-form-item label="货品类别：" size="mini">
                    <el-select v-model="queryCondition.type">
                    <el-option label="一" value="type1"></el-option>
                    <el-option label="二" value="type2"></el-option></el-select>
                </el-form-item>
            </el-form>
            <el-form><el-form-item size="mini"><el-button style="background-color: #ececec">查找</el-button></el-form-item></el-form>
            <hr style="height:1px; border:none; border-top:1px dashed #c0c4cc">
            <el-table :data="queryResult" size="mini" max-height="250">
                <el-table-column type="index" width="50" label="序号"></el-table-column>
                <el-table-column prop="huopinbianhao" label="货品编号"></el-table-column>
                <el-table-column prop="huopinmingcheng" label="货品名称"></el-table-column>
                <el-table-column prop="rukushijian" label="入库时间"></el-table-column>
                <el-table-column prop="gongyingshang" label="供应商"></el-table-column>
                <el-table-column prop="xiangxixinxi" label="详细信息" width="80">
                    <template slot-scope="scope">
                        <el-button size="mini"style="background-color: #ececec">查看</el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="zerenren" label="责任人"></el-table-column>
                <el-table-column prop="lianxidianhua" label="联系电话"></el-table-column>
                <el-table-column prop="chuku" label="">
                    <template slot-scope="scope">
                        <el-button size="mini" style="background-color: #ececec">出库</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-form>
        <hr>
        <!--出库业务-->
        <el-form :model="outGoing">
            <el-form :inline="true">
                <el-form-item label="操作员：" size="mini"><el-input v-model="outGoing.caozuoyuan"></el-input></el-form-item>
                <el-form-item label="仓库：" size="mini"><el-input v-model="outGoing.cangku"></el-input></el-form-item>
            </el-form>
            <el-form :inline="true">
                <el-form-item label="建单人：" size="mini"><el-input v-model="outGoing.jiandanren"></el-input></el-form-item>
                <el-form-item label="建单日期：" size="mini"><el-input v-model="outGoing.jiandanriqi"></el-input></el-form-item>
            </el-form>
            <el-form :inline="true">
                <el-form-item label="出库单号：" size="mini"><el-input v-model="outGoing.chukudanhao"></el-input></el-form-item>
                <el-form-item label="出库类别：" size="mini">
                    <el-select v-model="outGoing.chukuleibie">
                        <el-option label="正常出库" value="type1"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <el-form :inline="true">
                <el-form-item label="出库单上传：" size="mini" :inline="true">
                    <el-upload action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove" :before-remove="beforeRemove" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList">
                        <el-button size="mini" type="primary">点击上传</el-button>
                    </el-upload>
                </el-form-item>
            </el-form>
            <hr style="height:1px; border:none; border-top:1px dashed #c0c4cc">
            <el-table :data="outResult" size="mini" max-height="250">
                <el-table-column type="index" width="44" label="序号"></el-table-column>
                <el-table-column prop="huopinbianhao" label="货品编号"></el-table-column>
                <el-table-column prop="huopinmingcheng" label="货品名称"></el-table-column>
                <el-table-column prop="danwei" label="单位"></el-table-column>
                <!--可编辑项 begin-->
                <el-table-column prop="chukushiliang" label="出库数量" width="75"><template slot-scope="scope"><el-input size="mini"></el-input></template></el-table-column>
                <el-table-column prop="chukushijian" label="出库时间" width="80"><template slot-scope="scope"><el-input size="mini"></el-input></template></el-table-column>
                <el-table-column prop="quxiang" label="去向"><template slot-scope="scope"><el-input size="mini"></el-input></template></el-table-column>
                <!--可编辑项 end-->
                <el-table-column prop="zerenren" label="责任人"></el-table-column>
                <el-table-column prop="lianxidianhua" label="联系电话"></el-table-column>
                <el-table-column prop="beizhu" label="备注"></el-table-column>
                <el-table-column prop="shanchu" label="">
                    <template slot-scope="scope">
                        <el-button size="mini" style="background-color: #ececec">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--保存 生成货品清单-->
            <el-form>
                <el-form-item size="medium">
                    <el-button style="background-color: #ececec">保存</el-button>
                    <el-button style="background-color: #ececec">生成货品清单</el-button>
                </el-form-item>
            </el-form>
            <hr>
        </el-form>
    </el-form>
</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: function(){
            return{
                queryCondition:{/* 查找部分 —— 查找条件 */
                    huopinmingcheng:'',
                    gongyingshang:'',
                    huopinbianhao:'',
                    huopinleibie:''
                },
                queryResult:[{/* 查找部分 —— 查找结果表格 */
                    huopinbianhao: '1',
                    huopinmingcheng: '',
                    rukkushijian: '',
                    gongyingshang: '',
                    xiangxixinxi: '',
                    zerenren: '',
                    lianxidianhua: '',
                    chuku:''
                }],
                outGoing:{/* 出库业务 —— 相关信息填写 */
                    cangku:'',
                    caozuoyuan:'',
                    chukudanhao:'',
                    chukudanshangchuan:'',
                    jiaodanren:'',
                    jiandanriqi:'',
                    chukuleibie:''
                },
                outResult:[{/* 出库业务 —— 信息结果表格 */
                    huopinbianhao:'',
                    huopinmingcheng:'',
                    danwei:'',
                    chukushuliang:'',
                    chukushijian:'',
                    quxiang:'',
                    zerenren:'',
                    lianxidianhua:'',
                    beizhu:''
                }],
                fileList: [{/* 出库业务 —— 出库单上传 */
                    name: '',
                    url: ''
                }]

            }
        },
        methods: {
            /*出库单上传相关函数 begin*/
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            }
            /*出库单上传相关函数 end*/
        }
    });
</script>

</html>